<div>

  <div class="registrarCaso">REGISTRAR CASO</div>

  <div class="background">

    <div class="background2">

      <div class="conProblemas">¿Con quién tienes problemas?</div>

      <div class="row">
  
        <div class="col-md-6">

          <div class="block1">

            <div class="estado"></div>
  
            <div class="textBlock">Toda entidad pública u organismo adscrito a los gobiernos nacionales regionales y/o locales</div>

          </div>
  
        </div>
  
        <div class="col-md-6">
  
          <div class="block2">

            <div class="particular"></div>
  
            <div class="textBlock">Tu jefe, un amigo, tu familia, conocidos, tu jefe y empresas que son privadas</div>

          </div>
  
      </div>
  
      <div class="row">
  
        <div class="col-md-3">
  
          <div>¿Sobre qué trata tu caso?</div>
  
          <img class="iconSelect" src="/assets/images/icon_amigo.png" />

          <select (change)="trataCaso()" id="trataCaso">

            <option></option>

            <option *ngIf="selectProblemas == 'estado'">Con tu empleo en una entidad pública</option>
            <option *ngIf="selectProblemas == 'estado'">Quieres licitar con el estado</option>
            <option *ngIf="selectProblemas == 'estado'">Reparación de daños y perjuicios causados por el estado</option>
            <option *ngIf="selectProblemas == 'estado'">Vulneración de derechos fundamentales</option>
            <option *ngIf="selectProblemas == 'estado'">Vulneración de derechos por el estado</option>

            <option *ngIf="selectProblemas == 'particular'">Amigo o conocido</option>
            <option *ngIf="selectProblemas == 'particular'">Impuestos</option>
            <option *ngIf="selectProblemas == 'particular'">Jefe o empresa</option>
            <option *ngIf="selectProblemas == 'particular'">Tu familia</option>
            <option *ngIf="selectProblemas == 'particular'">Tu negocio</option>
            <option *ngIf="selectProblemas == 'particular'">Un delito</option>
            <option *ngIf="selectProblemas == 'particular'">Vulnerabilidad a tu salud</option>

            <option>Otro</option>

          </select>
  
        </div>
  
        <div class="col-md-4">
  
          <div>¿Cuál es tu problema?</div>
  
          <img class="iconSelect2" src="/assets/images/icon_familia.png" />

          <select id="tuProblema" (change)="cualProblemaChange()">

            <option></option>

            <option *ngIf="selectCaso == 'Tu familia'">Alimentos a hijos o conyuges</option>
            <option *ngIf="selectCaso == 'Tu familia'">Capitulaciones</option>
            <option *ngIf="selectCaso == 'Tu familia'">Divorcios</option>
            <option *ngIf="selectCaso == 'Tu familia'">Emancipación</option>
            <option *ngIf="selectCaso == 'Tu familia'">Herencias</option>
            <option *ngIf="selectCaso == 'Tu familia'">Impugnación de paternidad</option>
            <option *ngIf="selectCaso == 'Tu familia'">Matrimonio</option>
            <option *ngIf="selectCaso == 'Tu familia'">Violencia intrafamiliar</option>

            <option *ngIf="selectCaso == 'Jefe o empresa'">Acoso laboral</option>
            <option *ngIf="selectCaso == 'Jefe o empresa'">Despido sin justa causa</option>
            <option *ngIf="selectCaso == 'Jefe o empresa'">Prestaciones sociales (Prima, vacaciones, cesantías etc)</option>
            <option *ngIf="selectCaso == 'Jefe o empresa'">Saldos y/o pagos adeudados por el empleador</option>
            <option *ngIf="selectCaso == 'Jefe o empresa'">Seguridad social (Salud, pensión, ARL)</option>

            <option *ngIf="selectCaso == 'Amigo o conocido'">Contratos</option>
            <option *ngIf="selectCaso == 'Amigo o conocido'">Dineros adeudados</option>
            <option *ngIf="selectCaso == 'Amigo o conocido'">Tus bienes</option>

            <option *ngIf="selectCaso == 'Impuestos'">Declaracion de renta</option>
            <option *ngIf="selectCaso == 'Impuestos'">Problemas de deudas impuestos</option>

            <option *ngIf="selectCaso == 'Vulnerabilidad a tu salud'">Con tu eps</option>
            <option *ngIf="selectCaso == 'Vulnerabilidad a tu salud'">Omisión médica</option>
            <option *ngIf="selectCaso == 'Vulnerabilidad a tu salud'">Deterioro de tu salud a causa de la responsabilidad médica</option>

            <option>Otro</option>

          </select>
  
        </div>
  
        <div class="col-md-5">
  
          <div>¿Ya se inicio un proceso ante un juzgado o entidad para su solución?</div>
  
          <select id="proceso">
            <option>No</option>
            <option>Si</option>
          </select>
  
        </div>
  
      </div>

      <div class="row">

        <div class="col-md-3" *ngIf="cualProblema == 'Otro'">

          <div>Cual:</div>

          <input type="text" />

        </div>

        <div class="col-md-3" *ngIf="subcategoria == 'Otro'"></div>

        <div class="col-md-4" *ngIf="subcategoria == 'Otro'">

          <div>Cual:</div>

          <input type="text" />

        </div>

        <div class="col-md-5"></div>

      </div>

      <div class="row">

        <div class="col-md-3">

          <div>Ciudad donde se presenta tu problema:</div>

          <select id="ciudadProblema">
            <option value=""></option>
            <ng-container *ngFor="let item of ciudades">
              <option value="{{item.ciudad}}" selected *ngIf="item.ciudad == ciudadUsuario">{{item.ciudad}}</option>
              <option value="{{item.ciudad}}">{{item.ciudad}}</option>
            </ng-container>
          </select>

        </div>

      </div>
  
      <div>Cuéntanos tu caso</div>
  
      <div>
  
        <textarea id="cuentanos"></textarea>
  
      </div>

      <div class="msg"></div>
  
      <div>
  
        <button  (click)="registrarCaso()">REGISTRAR ></button>
  
      </div>

    </div>

  </div>

</div>

<!--  MODAL SATISFACTORIO -->

<ng-template #modalSuccess let-modal id="modalSuccess">

  <div class="modal-body">

    <img src="/assets/images/check_modal.png" class="checkModal" />

    <div class="bodyModalSuccess">

      <div class="modalMessage1">¡TU CASO HA SIDO <br> CREADO CON EXITO!</div>

    </div>
      
  </div>

</ng-template>