input{
    margin-bottom: 14%;
    border: 0px solid;
    border-bottom: 1px solid#9A999E;
    width: 94%;
    border-radius: 0px;
}

select{
    border: 0px solid;
    background: transparent;
    border-bottom: 1px solid#9A999E;
    border-radius: 0px;
    width: 78%;
    margin-bottom: 8%;
}

textarea{
    width: 87%;
    border-radius: 8px;
    margin-top: 1%;
    height: 101px;
    border: 0.5px solid#0C1F3C;
}

button{
    float: right;
    margin-top: 4%;
    background: #0C1F3C;
    color: #ffffff;
    padding: 1% 2% 1% 2%;
    border-radius: 8px;
    border: 2px solid#dddddd;
}

.registrarCaso{
    color: #0C1F3C!important;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.background{
    background: #D8D9DD;
    padding-left: 4%;
    padding-top: 2%;
    padding-right: 4%;
    height: 100vh;
}

.background2{
    background: #ffffff;
    border-radius: 15px;
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 2%;
    height: 95%;
}

.conProblemas{
    text-align: center;
    font-size: 17px;
    color: #474747;
    padding-bottom: 3%;
}

.estado{
    background-image: url(/assets/images/estado_gris.png);
    height: 175px;
    background-position: center;
    background-size: 66%;
    background-repeat: no-repeat;
}

.block1{
    width: 45%;
    float: right;
    text-align: center;
    margin-right: 5%;
}

.block2{
    width: 45%;
    float: left;
    text-align: center;
    margin-left: 5%;
}

.particular{
    background-image: url(/assets/images/particular_gris.png);
    height: 175px;
    background-position: center;
    background-size: 66%;
    background-repeat: no-repeat;
}

.textBlock{
    color: #003C52;
    font-style: italic;
    font-size: 15px;
    line-height: 18px;
    padding-top: 3%;
    padding-bottom: 12%;
}

.iconSelect{
    float: left;
    width: 15%;
    border-bottom: 1px solid #9A999E;
}

.iconSelect2{
    float: left;
    width: 10.9%;
    border-bottom: 1px solid #9A999E;
}

.success{
    color:green;
    display:block
}

.error{
    color:red;
    display:block
}