<div class="row heightFull">

  <div class="col-md-2 background1 center paddingRight0 menuIzquierdo">

    <div class="center">
      <img class="perfilCargaFoto" src="/assets/images/perfil_carga_foto.png" />
      <input type="file" id="photo" style="display: none;" />
    </div>

    <p class="usuario">{{nombres}} <br> {{apellidos}}</p>

    <div>
      <img class="cursor btnPerfil" src="/assets/images/perfil_activo.png" (click)="menu('perfil')" />
    </div>

    <div *ngIf="perfil=='abogado'">
      <img class="cursor btnHojaVida" src="/assets/images/hoja_vida.png" (click)="menu('hojaVida')" />
    </div>

    <div>
      <img class="cursor btnPolitica" src="/assets/images/politica_privacidad.png" (click)="menu('politica')" />
    </div>

    <div>
      <img class="cursor btnPQRS" src="/assets/images/pqrs.png" (click)="menu('pqrs')" />
    </div>

    <div>
      <img class="cursor btnAcerca" src="/assets/images/acerca_de.png" (click)="menu('acerca')" />
    </div>

  </div>

  <div class="col-md-10 registerForm">

    <div id="perfil">

      <div class="row registerFormContainer">

        <div class="col-6 registerFormCapa1">

          <p class="titleRegister">CONFIGURA TU PERFIL</p>

          <p class="pField1">Nombres</p>
          <div><input type="text" id="nombres" value="{{nombres}}" /></div>

          <p class="pField1">Apellidos</p>
          <div><input type="text" id="apellidos" value="{{apellidos}}"/></div>

          <p class="pField1">Usuario</p>
          <div><input type="text" id="usuario" disabled value="{{usuario}}"/></div>

          <p class="pField1">Correo eléctronico</p>
          <div><input type="text" id="email" value="{{email}}"/></div>

          <div class="row">

            <div class="col-md-6">

              <p class="pField1">Tipo de identificación</p>
              <div>
                <select id="tipoIdentificacion">
                  <option value=""></option>
                  <ng-container *ngFor="let item of tiposDocumentos">
                    <option value="{{item.tipo_documento}}">{{item.tipo_documento}}</option>
                  </ng-container>
                </select>
              </div>

            </div>

            <div class="col-md-6">

              <p class="pField1">Identificación</p>
              <div><input type="text" id="identificacion" value="{{identificacion}}"/></div>

            </div>

          </div>

          <div class="row marginTop3" *ngIf="perfil=='abogado'">

            <div class="col-md-6">

              <p class="pField1">Fecha de Nacimiento</p>
              <div><input type="date" id="nacimiento" value="{{nacimiento}}"/></div>

            </div>

            <div class="col-md-6">

              <p class="pField1">Género</p>
              <div>
                <select id="genero">
                  <option value=""></option>
                  <ng-container *ngFor="let item of generos">
                    <option value="{{item.genero}}">{{item.genero}}</option>
                  </ng-container>
                </select>
              </div>

            </div>

          </div>

          <p class="pField1" *ngIf="perfil!='abogado'">Género</p>
          <div *ngIf="perfil!='abogado'">
            <select id="genero">
              <option value=""></option>
              <ng-container *ngFor="let item of generos">
                <option value="{{item.genero}}">{{item.genero}}</option>
              </ng-container>
            </select>
          </div>

          <p class="pField1" *ngIf="perfil!='abogado'">Teléfono de contacto</p>
          <p class="pField1 marginTop3" *ngIf="perfil=='abogado'">Teléfono</p>

          <div><input type="text" id="telefonoContacto" value="{{telefonoContacto}}"/></div>

          <div class="row marginTop3" *ngIf="perfil=='abogado'">

            <div class="col-md-6">

              <p class="pField1">Municipio</p>
              <div>
                <select id="municipio">
                  <option value=""></option>
                  <ng-container *ngFor="let item of municipios">
                    <option value="{{item.municipio}}">{{item.municipio}}</option>
                  </ng-container>
                </select>
              </div>

            </div>

            <div class="col-md-6">

              <p class="pField1">Ciudad</p>
              <div>
                <select id="ciudad">
                  <option value=""></option>
                  <ng-container *ngFor="let item of ciudades">
                    <option value="{{item.ciudad}}">{{item.ciudad}}</option>
                  </ng-container>
                </select>
              </div>

            </div>

          </div>

          <p class="pField1" *ngIf="perfil!='abogado'">Ciudad</p>
          <div *ngIf="perfil!='abogado'">
            <select id="ciudad">
              <option value=""></option>
              <ng-container *ngFor="let item of ciudades">
                <option value="{{item.ciudad}}">{{item.ciudad}}</option>
              </ng-container>
            </select>
          </div>

          <p class="pField1 marginTop3" *ngIf="perfil=='abogado'">Dirección de Notificaciones</p>
          <div *ngIf="perfil=='abogado'"><input type="text" id="direccion" value="{{direccion}}"/></div>

        </div>

        <div class="col-6 padding0">

          <div class="registerFormCapa2">

            <p class="pField1">Facebook</p>
            <div><input type="text" id="facebook" value="{{facebook}}"/></div>

            <p class="pField1">Twitter</p>
            <div><input type="text" id="twitter" value="{{twitter}}"/></div>

            <p class="pField1">Instagram</p>
            <div><input type="text" id="instagram" value="{{instagram}}"/></div>

            <div class="row marginB2">

              <div class="col-md-6">

                <div class="form-check form-switch">

                  <div class="row">

                    <div class="col-9 paddingL0">
                      <label class="form-check-label bold" for="flexSwitchCheckDefaultNotificacionEmail">Notificación Email</label>
                    </div>

                    <div class="col-3">
                      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefaultNotificacionEmail">
                    </div>

                  </div>
                  
                </div>

              </div>

              <div class="col-md-6">

                <div class="form-check form-switch">

                  <div class="row">

                    <div class="col-9 paddingL0">
                      <label class="form-check-label bold" for="flexSwitchCheckDefaultNotificacionSMS">Notificación SMS</label>
                    </div>

                    <div class="col-3">
                      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefaultNotificacionSMS">
                    </div>

                  </div>

                </div>

              </div>

            </div>

            <div class="row">

              <div class="col-md-3 paddingRight0">

                <p class="pField2">
                  <span class="bold compartir">Compartir</span>
                </p>

              </div>

              <div class="col-md-9">

                <img class="redSocial" src="/assets/images/perfil_facebook.png" (click)="redSocial('facebook')" />
                <img class="redSocial" src="/assets/images/perfil_twitter.png" (click)="redSocial('twitter')" />
                <img class="redSocial" src="/assets/images/perfil_instagram.png" (click)="redSocial('instagram')" />
                <img class="redSocial" src="/assets/images/perfil_linked.png" (click)="redSocial('linked')" />
                <img class="redSocial" src="/assets/images/perfil_whatsapp.png" (click)="redSocial('whatsapp')" />

              </div>

            </div>

            <p class="msgPerfil"></p>

            <div>
              <img class="perfilActualizar cursor" src="/assets/images/perfil_actualizar.png" (click)="actualizar()" />
            </div>

          </div>

          <div class="changePassword backgroundPassword">

            <p class="pField1 backgroundPassword">Contraseña Anterior</p>
            <div class="backgroundPassword" ><input class="backgroundPassword" type="password" id="passwordOld" /></div>

            <p class="pField1 backgroundPassword">Nueva Contraseña</p>
            <div><input class="backgroundPassword" type="password" id="password" /></div>

            <p class="pField1 backgroundPassword">Confirmar Contraseña</p>
            <div><input class="backgroundPassword" type="password" id="passwordConfirm" /></div>

            <p class="msgPassword backgroundPassword"></p>

            <div class="backgroundPassword widthFull textAlignR">
              <img class="passwordActualizar cursor backgroundPassword" src="/assets/images/perfil_cambiar.png" (click)="cambiarPassword()"/>
            </div>

          </div>

        </div>

      </div>

    </div>

    <div id="hojaVida">

      <div class="row registerFormContainer registerFormCapa1">

        <p class="titleRegister2 center">HOJA DE VIDA</p>

        <div class="overflowY">

          <div class="row">

          <div class="col-6 borderRightGray">

            <p>Universidad de egreso - Profesional *</p>
            <input type="text" class="universidad" id="universidad_egreso" (change)="changeFieldHoja('universidad_egreso')" value="{{universidadEgreso}}" />

          </div>

          <div class="col-6">

            <p class="marginLeft8">Título Profesional</p>
            <input type="text" class="universidad marginLeft8" id="titulo_profesional" (change)="changeFieldHoja('titulo_profesional')" value="{{tituloProfesional}}" />

          </div>

        </div>

        <div class="row" *ngFor="let item of titulosUsuario; let i = index">

          <div class="col-6 borderRightGray">

            <p>
              <img src="/assets/images/hv_add.png" class="hvTituloIcon" (click)="addTitulo()" *ngIf="i == titulosUsuario.length - 1">
              <span *ngIf="i != titulosUsuario.length - 1" class="marginLeft5"></span>
              <select [id]="'tituloSelect'+i" [ngClass]="'selectUniversidad selectUniversidad'+i" (change)="selectTitulo(i,item.id)"> 
                <option value="">- Agregar otro Título -</option>
                <ng-container *ngFor="let item2 of titulos">
                  <option *ngIf="item2.titulo == item.titulo" value="{{item2.titulo}}" selected>{{item2.titulo}}</option>
                  <option *ngIf="item2.titulo != item.titulo" value="{{item2.titulo}}">{{item2.titulo}}</option>
                </ng-container>
              </select>
              <img src="/assets/images/flecha_abajo.png" class="flechaAbajo" />
              <img src="/assets/images/hv_delete.png" class="hvTituloIcon" *ngIf="i!=0" (click)="deleteTitulo(item.id)">
            </p>

            <div>
              <input type="text" class="universidad textTitulo" [id]="'tituloDescription1'+i" (change)="updateTitulo(1,i,item.id)" value="{{item.descripcion1}}" />
            </div>

          </div>

          <div class="col-6">

            <p class="marginLeft8">Título <span [ngClass]="'titulo'+i"></span></p>
            <input type="text" class="universidad marginLeft8" [id]="'tituloDescription2'+i" (change)="updateTitulo(2,i,item.id)" value="{{item.descripcion2}}" />

          </div>

        </div>

        </div>

        <div class="row presentacion">

          <div class="col titleRegister2 tPresentacion">
            PRESENTACIÓN
          </div>

          <div class="col dileClientes">
            (Dile a tus clientes por qué deben contratarte)
          </div>

          <div class="col tRight">
            <img class="informacion" src="/assets/images/informacion.png" />
            <span class="maxPresentacion">0/160</span>
          </div>

        </div>

        <textarea class="areaPresentacion" (input)="areaPresentacion()" id="presentacion" (change)="changeFieldHoja('presentacion')">{{presentacion}}</textarea>

        <div class="row marginTop3">

          <div class="col">Tipo de T.P</div>
          <div class="col">No. Tarjeta o Licencia</div>

        </div>

        <div class="row">

          <div class="col">

            <select class="selectTipo1" id="tipo_tp" (change)="changeFieldHoja('tipo_tp')">
              <option value="">- Seleccionar -</option>
              <option value="Licencia temporal">Licencia temporal</option>
              <option value="Tarjeta profesional">Tarjeta profesional</option>
            </select>

          </div>

          <div class="col">

            <input type="text" id="tarjeta_licencia" (change)="changeFieldHoja('tarjeta_licencia')" value="{{tarjetaLicencia}}" />

          </div>

        </div>

        <div class="row">

          <div class="col">¿Cuenta con experiencia laboral en el ejercicio del Derecho?</div>
          <div class="col">¿Cuánto Tiempo?</div>

        </div>

        <div class="row">

          <div class="col">

            <select class="selectTipo1" id="experiencia" (change)="changeFieldHoja('experiencia')">
              <option value="">- Seleccionar -</option>
              <option>SI</option>
              <option>NO</option>
            </select>

          </div>

          <div class="col">

            <input type="text" id="experiencia_tiempo" (change)="changeFieldHoja('experiencia_tiempo')" value="{{experienciaTiempo}}" />

          </div>

        </div>

        <div class="row">

          <div class="col">¿Cuenta con alguna investigación disciplinaria por parte del Consejo Superior de la Juricatura?</div>

        </div>

        <div class="row">

          <div class="col">

            <select class="selectTipo1" id="investigacion" (change)="changeFieldHoja('investigacion')">
              <option value="">- Seleccionar -</option>
              <option>SI</option>
              <option>NO</option>
            </select>

          </div>

        </div>

        <div class="row">

          <div class="col">¿Cuál de las siguientes opciones se ajusta a sus gastos en las ramas del derecho o en cuál le gustaría desempeñar laboralmente?</div>

        </div>

        <div class="row">

          <div class="col">

            <select class="selectTipo1" id="ramas" (change)="changeFieldHoja('ramas')" multiple>

              <option value="">- Seleccionar -</option>

              <option>AMBIENTAL</option>
              <option>ADMINISTRATIVO</option>
              <option>CIVIL</option>
              <option>COMERCIAL</option>
              <option>DERECHOS HUMANOS</option>
              <option>DIGITAL</option>
              <option>FAMILIA</option>
              <option>LABORAL</option>
              <option>PENAL</option>
              <option>TRIBUTARIO</option>
              
            </select>

          </div>

        </div>

        <div class="row">

          <div class="col">¿Cuánto es el promedio que cobra usted por una asesoría jurídica? (Solo asesoría)</div>

        </div>

        <div class="row">

          <div class="col">

            <input type="number" id="consulta" (change)="changeFieldHoja('consulta')" value="{{consulta}}" />

          </div>

        </div>

      </div>

      <div class="row registerFormContainer registerFormCapa1">

        <p class="titleRegister2 center">CARGA DE DOCUMENTOS</p>

        <div class="row">

          <div class="col-6 borderRightGray">

            <div class="row marginBottom3">

              <div class="col-2 cargaDocmentosDiv">
                
                <img class="cargaDocumentos cargaCedula" src="/assets/images/carga_documentos_rojo.png" *ngIf="cargaCedula == ''">
                <img class="cargaDocumentos cargaCedula" src="/assets/images/carga_documentos.png" *ngIf="cargaCedula != ''">

                <input type="file" id="cargaCedula" style="display: none;" (change)="changeFile($event,'cargaCedula')" />
              
              </div>
              <div class="col-10 marginAuto">Cargar Cédula al 150%</div>

            </div>

            <div class="row marginBottom3">

              <div class="col-2 cargaDocmentosDiv">
                
                <img class="cargaDocumentos cargaReciboServicioPublico" src="/assets/images/carga_documentos_rojo.png" *ngIf="cargaReciboServicioPublico == ''">
                <img class="cargaDocumentos cargaReciboServicioPublico" src="/assets/images/carga_documentos.png" *ngIf="cargaReciboServicioPublico != ''">

                <input type="file" id="cargaReciboServicioPublico" style="display: none;" (change)="changeFile($event,'cargaReciboServicioPublico')" />
              
              </div>
              <div class="col-10 marginAuto">Cargar Recibo de Servicio Público</div>

            </div>

            <div class="row marginBottom3">

              <div class="col-2 cargaDocmentosDiv">
                
                <img class="cargaDocumentos cargaTp" src="/assets/images/carga_documentos_rojo.png" *ngIf="cargaTp == ''">
                <img class="cargaDocumentos cargaTp" src="/assets/images/carga_documentos.png" *ngIf="cargaTp != ''">

                <input type="file" id="cargaTp" style="display: none;" (change)="changeFile($event,'cargaTp')" />
              
              </div>
              <div class="col-10 marginAuto">Cargar T.P.</div>

            </div>

          </div>

          <div class="col-6">

            <div class="row marginBottom3 marginLeft5">

              <div class="col-2 cargaDocmentosDiv">
                
                <img class="cargaDocumentos cargaDiploma" src="/assets/images/carga_documentos_rojo.png" *ngIf="cargaDiploma == ''">
                <img class="cargaDocumentos cargaDiploma" src="/assets/images/carga_documentos.png" *ngIf="cargaDiploma != ''">

                <input type="file" id="cargaDiploma" style="display: none;" (change)="changeFile($event,'cargaDiploma')" />
              
              </div>
              <div class="col-10 marginAuto">Cargar Diploma o Acta de Grado</div>

            </div>

            <div class="row marginBottom3 marginLeft5">

              <div class="col-2 cargaDocmentosDiv">
                
                <img class="cargaDocumentos cargaEspecializacion" src="/assets/images/carga_documentos_rojo.png" *ngIf="cargaEspecializacion == ''">
                <img class="cargaDocumentos cargaEspecializacion" src="/assets/images/carga_documentos.png" *ngIf="cargaEspecializacion != ''">

                <input type="file" id="cargaEspecializacion" style="display: none;" (change)="changeFile($event,'cargaEspecializacion')" />
              
              </div>
              <div class="col-10 marginAuto">Especialización</div>

            </div>

            <div class="row marginBottom3 marginLeft5">

              <div class="col-2 cargaDocmentosDiv">
                
                <img class="cargaDocumentos cargaMaestria" src="/assets/images/carga_documentos_rojo.png" *ngIf="cargaMaestria == ''">
                <img class="cargaDocumentos cargaMaestria" src="/assets/images/carga_documentos.png" *ngIf="cargaMaestria != ''">

                <input type="file" id="cargaMaestria" style="display: none;" (change)="changeFile($event,'cargaMaestria')" />
              
              </div>
              <div class="col-10 marginAuto">Maestría</div>

            </div>

          </div>

        </div>

      </div>

    </div>

    <div id="politica">

      <div class="row registerFormContainer registerFormCapa1">

        <p class="titleRegister2">POLÍTICA DE PRIVACIDAD</p>

        <p>{{politicaPrivacidad}}</p>

      </div>

    </div>

    <div id="pqrs">

      <div class="row registerFormContainer registerFormCapa1">

        <p class="titleRegister2">PQRS</p>

        <p>Escribenos tu petición, queja o reclamo a continuación:</p>

        <div>
          <textarea id="pqrsTextarea" rows="10"></textarea>
        </div>
      
        <p class="msg"></p>
      
        <button class="btn btn-primary btnPQRSEnvio" type="submit" (click)="pqrs()">Enviar PQRS</button>

      </div>

    </div>

    <div id="acerca">

      <div class="row registerFormContainer registerFormCapa1">

        <p class="titleRegister2">ACERCA DE</p>

        <p>{{acercaDe}}</p>

      </div>

    </div>

    <div class="row formRegister2">

      <div class="col">
      
        <div class="row">

          <div class="col-md-6 titleRegister">TU ACTIVIDAD</div>
          <div class="col-md-6 textRight">Activo desde: <b>{{activoDesde}}</b></div>
  
        </div>

        <table class="table actividad">
          <thead>
            <tr>
              <th class="center" scope="col f12">Registro</th>
              <th class="center lineaTiempo" scope="col f12"></th>
              <th class="center" scope="col f12">Completa tu perfil</th>
              <th class="center lineaTiempo" scope="col f12"></th>

              <th class="center" scope="col f12" *ngIf="perfil=='cliente'">Crea tu caso</th>
              <th class="center lineaTiempo" scope="col f12" *ngIf="perfil=='cliente'"></th>
              <th class="center" scope="col f12" *ngIf="perfil=='cliente'">Busca tu Abogado</th>
              <th class="center lineaTiempo" scope="col f12" *ngIf="perfil=='cliente'"></th>
              <th class="center" scope="col f12" *ngIf="perfil=='cliente'">Disfruta la experiencia</th>

              <th class="center" scope="col f12" *ngIf="perfil=='abogado'">Completa tu HV</th>
              <th class="center lineaTiempo" scope="col f12" *ngIf="perfil=='abogado'"></th>
              <th class="center" scope="col f12" *ngIf="perfil=='abogado'">Proceso de Validación</th>
              <th class="center lineaTiempo" scope="col f12" *ngIf="perfil=='abogado'"></th>
              <th class="center" scope="col f12" *ngIf="perfil=='abogado'">Aprobado</th>
              <th class="center lineaTiempo" scope="col f12" *ngIf="perfil=='abogado'"></th>
              <th class="center" scope="col f12" *ngIf="perfil=='abogado'">Busca tus Clientes</th>

            </tr>
          </thead>
          <tbody>
            <tr>

              <td class="center" *ngIf="registro=='true'"><img class="pasosImg" src="/assets/images/paso1_true.png"></td>
              <td class="center" *ngIf="registro=='false'"><img class="pasosImg" src="/assets/images/paso1_red.png"></td>

              <td class="center lineaTiempo"><img class="pasosImg" src="/assets/images/linea_tiempo.png"></td>

              <td class="center" *ngIf="completaPerfil=='true'"><img class="pasosImg" src="/assets/images/paso2_true.png"></td>
              <td class="center" *ngIf="completaPerfil=='false'"><img class="pasosImg" src="/assets/images/paso2_red.png"></td>

              <td class="center lineaTiempo"><img class="pasosImg" src="/assets/images/linea_tiempo.png"></td>

              <td class="center" *ngIf="creaCaso=='true' && perfil=='cliente'"><img class="pasosImg" src="/assets/images/paso3_true.png"></td>
              <td class="center" *ngIf="creaCaso=='false' && perfil=='cliente'"><img class="pasosImg" src="/assets/images/paso3_red.png"></td>

              <td class="center" *ngIf="hojaVida=='true' && perfil=='abogado'"><img class="pasosImg" src="/assets/images/hoja_true.png"></td>
              <td class="center" *ngIf="hojaVida=='false' && perfil=='abogado'"><img class="pasosImg" src="/assets/images/hoja_red.png"></td>

              <td class="center lineaTiempo"><img class="pasosImg" src="/assets/images/linea_tiempo.png"></td>

              <td class="center" *ngIf="buscaCaso=='true' && perfil=='cliente'"><img class="pasosImg" src="/assets/images/paso4_true.png"></td>
              <td class="center" *ngIf="buscaCaso=='false' && perfil=='cliente'"><img class="pasosImg" src="/assets/images/paso4_red.png"></td>

              <td class="center" *ngIf="hojaVida=='true' && perfil=='abogado'"><img class="pasosImg" src="/assets/images/validacion_true.png"></td>
              <td class="center" *ngIf="hojaVida=='false' && perfil=='abogado'"><img class="pasosImg" src="/assets/images/validacion_red.png"></td>

              <td class="center lineaTiempo"><img class="pasosImg" src="/assets/images/linea_tiempo.png"></td>

              <td class="center" *ngIf="disfrutaExperiencia=='true' && perfil=='cliente'"><img class="pasosImg" src="/assets/images/paso5_true.png"></td>
              <td class="center" *ngIf="disfrutaExperiencia=='false' && perfil=='cliente'"><img class="pasosImg" src="/assets/images/paso5_red.png"></td>

              <td class="center" *ngIf="aprobado=='true' && perfil=='abogado'"><img class="pasosImg" src="/assets/images/aprobado_true.png"></td>
              <td class="center" *ngIf="aprobado=='false' && perfil=='abogado'"><img class="pasosImg" src="/assets/images/aprobado_red.png"></td>

              <td *ngIf="perfil=='abogado'" class="center lineaTiempo"><img class="pasosImg" src="/assets/images/linea_tiempo.png"></td>

              <td class="center" *ngIf="buscaCliente=='true' && perfil=='abogado'"><img class="pasosImg" src="/assets/images/busca_cliente_true.png"></td>
              <td class="center" *ngIf="buscaCliente=='false' && perfil=='abogado'"><img class="pasosImg" src="/assets/images/busca_cliente_red.png"></td>

            </tr>

          </tbody>
        </table>

      </div>

    </div>

  </div>

</div>