<div class="nosotros">

  <div class="encabezado">

    <div class="encabezadoTitle">Nosotros</div>

    <div class="encabezadoDescription"><span class="word1">ABOGLINE</span> busca posesionarse como una de las principales plataformas de servicios legales en el país para facilitar los problemas jurídicos de personas naturales y jurídicas</div>

  </div>

  <div class="row separador hide">

    <div class="col-2 textTipo1">
      <img src="/assets/images/testimonios.png">
    </div>

    <div class="col-9">
      <hr>
    </div>

    <div class="col-1">
      <img src="/assets/images/logo_redondo.png" />
    </div>

  </div>

  <div class="testimonios hide">

    <div class="row">

      <div class="col-4 testimonio">

        <div class="row">

          <div class="col-4">
            <img src="/assets/images/perfil_example.jpg" />
          </div>

          <div class="col-8">

            <div class="testimonioTitle">"Excelencia profesional"</div>

            <div class="estrellas">
              <img src="/assets/images/estrella_blanca.png" />
              <img src="/assets/images/estrella_blanca.png" />
              <img src="/assets/images/estrella_blanca.png" />
              <img src="/assets/images/estrella_blanca.png" />
              <img src="/assets/images/estrella_gris.png" />
            </div>

          </div>

        </div>

        <div class="testimonioDescription">
          Lorem ipsum dolor sit amet , consectetur adipiscing elit. Ut a quam blandit, pallentesque massa ut, fermentum elit. Sed commodo ligula vel turpis.
        </div>

        <div class="testimonioPersona">- Fulanito</div>

      </div>

      <div class="col-4 testimonio">

        <div class="row">

          <div class="col-4">
            <img src="/assets/images/perfil_example.jpg" />
          </div>

          <div class="col-8">

            <div class="testimonioTitle">"Excelencia profesional"</div>

            <div class="estrellas">
              <img src="/assets/images/estrella_blanca.png" />
              <img src="/assets/images/estrella_blanca.png" />
              <img src="/assets/images/estrella_blanca.png" />
              <img src="/assets/images/estrella_blanca.png" />
              <img src="/assets/images/estrella_gris.png" />
            </div>

          </div>

        </div>

        <div class="testimonioDescription">
          Lorem ipsum dolor sit amet , consectetur adipiscing elit. Ut a quam blandit, pallentesque massa ut, fermentum elit. Sed commodo ligula vel turpis.
        </div>

        <div class="testimonioPersona">- Fulanito</div>

      </div>

      <div class="col-4 testimonio">

        <div class="row">

          <div class="col-4">
            <img src="/assets/images/perfil_example.jpg" />
          </div>

          <div class="col-8">

            <div class="testimonioTitle">"Excelencia profesional"</div>

            <div class="estrellas">
              <img src="/assets/images/estrella_blanca.png" />
              <img src="/assets/images/estrella_blanca.png" />
              <img src="/assets/images/estrella_blanca.png" />
              <img src="/assets/images/estrella_blanca.png" />
              <img src="/assets/images/estrella_gris.png" />
            </div>

          </div>

        </div>

        <div class="testimonioDescription">
          Lorem ipsum dolor sit amet , consectetur adipiscing elit. Ut a quam blandit, pallentesque massa ut, fermentum elit. Sed commodo ligula vel turpis.
        </div>

        <div class="testimonioPersona">- Fulanito</div>

      </div>

    </div>

  </div>

</div>

<div class="row separador hide">

  <div class="col-3 textTipo1">
    <img src="/assets/images/nuestros_clientes.png">
  </div>

  <div class="col-8">
    <hr>
  </div>

  <div class="col-1">
    <img src="/assets/images/logo_redondo.png" />
  </div>

</div>

<div class="nuestrosClientes hide">
  Lorem ipsum dolor sit amet , consectetur adipiscing elit. Ut a quam blandit, pallentesque massa ut, fermentum elit. Sed commodo ligula vel turpis.
</div>

<div class="row row5">

  <div class="col-sm-12 col-md-4 col51">

      <p class="title2"> MANTENGAMOS EL CONTÁCTO</p>

      <div class="row">
          <div class="col-md-10 paadingR0">
              <input type="text" placeholder="Email" class="input1" />
          </div>
          <div class="col-md-2">
              <img src="/assets/images/btn_enviar.png" class="btnEnviar cursor"/>
          </div>
      </div>

      <p class="p1">
          Suscribete y sé el primero en recibir ofertas, información de servicios y más acerca<br/>
          de <span>ABOGLINE</span>. Para obtener más información visita nuestro <a>Aviso de  privacidad</a>
      </p>

      <p class="title2 servicioCliente">SERVICIO AL CLIENTE</p>

      <p class="title3">Preguntas Frecuentes</p>
      <p class="title3">PQRS</p>
      <p class="title3">Correo directo</p>

  </div>

  <div class="col-sm-12 col-md-4 col52">

      <p class="title2 center">SÍGUENOS</p>

      <div class="row redes">

          <div class="col center paddingEmpty"><img class="siguenosIcon cursor" src="/assets/images/facebook.png" /></div>
          <div class="col center paddingEmpty"><img class="siguenosIcon cursor" src="/assets/images/twitter.png" /></div>
          <div class="col center paddingEmpty"><img class="siguenosIcon cursor" src="/assets/images/instagram.png" /></div>
          <div class="col center paddingEmpty"><img class="siguenosIcon cursor" src="/assets/images/linked.png" /></div>
          <div class="col center paddingEmpty"><img class="siguenosIcon cursor" src="/assets/images/whastapp.png" /></div>

      </div>

      <div class="center">
          <img class="icon247" src="/assets/images/24_7.png" />
      </div>

  </div>

  <div class="col-sm-12 col-md-4 col53"></div>

</div>

<p class="copyright">
  <span>2021 © INFOABOGADOS S.A.S - ABOGLINE; Todos los derechos reservados.</span>
  <span class="copyright2">Elaborado por: <b>Edwin Aldana</b> en colaboración de <b>Camilo Avellaneda</b></span>
</p>