<div class="content">

  <h3>Personalización</h3>

  <div class="datatable">

    <div class="row">

      <div class="col title">Atributo</div>
      <div class="col title">Valor</div>

    </div>

    <div class="row" *ngFor="let item of personalizacion">

      <div class="col">{{item.atributo}}</div>
      
      <div class="col">
        <input type="color" [attr.class]="item.atributo" [attr.value]="item.valor" (change)="actualizar(item.atributo)" />
      </div>

    </div>

  </div>

</div>

