<ion-content [fullscreen]="true">

  <div class="contenido">

    <h3>Consultar documentación</h3>

    <div>
      <p>Seleccionar caso (*):</p>
      <select id="idCaso">
        <option value="">- Seleccionar -</option>
        <ng-container *ngFor="let caso of casos">
          <option *ngIf="caso.estado != 'registrado'" value='{{caso.id}}'>{{caso.id}}</option>
        </ng-container>
      </select>
    </div>

    <p>
      <button (click)="consultar()">Consultar</button>
    </p>

    <p id="mensaje"></p>

    <table id="documentacion" width="100%">

      <thead>

        <tr>

          <th>Tipo de información</th>
          <th>Observación</th>
          <th>Respuesta</th>

        </tr>

      </thead>

      <tbody>

        <ng-container *ngFor="let documento of documentos">

          <tr>

            <td>{{documento.tipo_informacion}}</td>
            <td>{{documento.observacion}}</td>
            <td *ngIf="documento.tipo_informacion == 'Documento'">
              <a target="_blank" [attr.href]="'http://localhost:8000/'+documento.respuesta">{{documento.respuesta}}</a>
            </td>

          </tr>

        </ng-container>

      </tbody>

    </table>

  </div>

</ion-content> 
