<ion-content [fullscreen]="true">

  <div class="contenido">

    <h3>Consultar caso</h3>

    <table id="casos" width="100%">

      <thead>

        <tr>

          <th width="7%">Caso</th>
          <th>Con quién tiene problemas</th>
          <th>Sobre que trata tu caso</th>
          <th>Cuál es tu problema</th>
          <th>Cuentanos de tu caso</th>
          <th>Ya se inició un proceso ante un juzgado o entidad para su solución</th>
          <th>Estado</th>
          <th>Acciones</th>

        </tr>

      </thead>

      <tbody>

        <ng-container *ngFor="let caso of casos">

          <tr>

            <td>{{caso.id}}</td>
            <td>{{caso.campo1Desc}}</td>
            <td>{{caso.campo2Desc}}</td>
            <td>{{caso.campo4Desc}}</td>
            <td>{{caso.campo6}}</td>
            <td>{{caso.campo7Desc}}</td>
            <td>{{caso.estado}}</td>
            <td>
              <button *ngIf="caso.estado == 'registrado' && caso.usuario == usuario" (click)="editarCaso(caso.id)">Editar caso</button>
              <button *ngIf="caso.estado == 'registrado' && perfil == 'abogado'" (click)="aplicarCaso(caso.id,caso.usuario)">Aplicar</button>
            </td>

          </tr>

        </ng-container>

      </tbody>

    </table>

  </div>

</ion-content>
