<div class="nosotros">

  <div class="encabezado">

    <div class="encabezadoTitle marginTop7">¿Quiénes Somos?</div>

    <div class="encabezadoDescription">
      Somos una empresa de tecnología y legal que brindan servicios jurídicos (mediante su marca abogline) y soluciones tecnológicas en desarrollo para los problemas de personas naturales; pequeñas, medianas y grandes empresas.
    </div>

    <div class="encabezadoTitle marginTop7">¿Qué Hacemos?</div>

    <div class="encabezadoDescription">
      Generar intermediación entre usuarios y abogados según se ajusten a las necesidades del caso jurídico.
    </div>

    <div class="encabezadoTitle marginTop7">Cómo Lo Hacemos</div>

    <div class="encabezadoDescription">
      Mediante una plataforma web y aplicaciones, en el cual de manera didáctica hay vínculos entre usuarios (personas naturales y jurídicas) y abogados, y de igual manera la vigilancia y control de los procesos que surgen de esa relación.
    </div>

  </div>

  <div class="row separador">

    <div class="col-3 textTipo1">
      <img src="/assets/images/nuestro_equipo.png">
    </div>

    <div class="col-8">
      <hr>
    </div>

    <div class="col-1">
      <img src="/assets/images/logo_redondo.png" />
    </div>

  </div>

  <div class="nuestroEquipoDescription">
    Lorem ipsum dolor sit amet , consectetur adipiscing elit. Ut a quam blandit, pallentesque massa ut, fermentum elit. Sed commodo ligula vel turpis.
  </div>

  <div class="nuestroEquipoTable">

    <div class="row nuestroEquipoRow">

      <div class="col-3 nuestroEquipoCol">
        <img src="/assets/images/perfil_example.jpg">
        <div class="nuestroEquipoName">DIEGO MOLINA</div>
        <div class="nuestroEquipoRol">CEO</div>
      </div>
      
      <div class="col-3 nuestroEquipoCol">
        <img src="/assets/images/perfil_example.jpg">
        <div class="nuestroEquipoName">JULIAN GARAVITO</div>
        <div class="nuestroEquipoRol">COO</div>
      </div>

      <div class="col-3 nuestroEquipoCol">
        <img src="/assets/images/perfil_example.jpg">
        <div class="nuestroEquipoName">EDWIN ALDANA</div>
        <div class="nuestroEquipoRol">DESARROLLADOR WEB</div>
      </div>

      <div class="col-3 nuestroEquipoCol">
        <img src="/assets/images/perfil_example.jpg">
        <div class="nuestroEquipoName">CAMILO AVELLANEDA</div>
        <div class="nuestroEquipoRol">DISEÑADOR PUBLICITARIO</div>
      </div>

    </div>

  </div>

</div>

<div class="row separador">

  <div class="col-3 textTipo1">
    <img src="/assets/images/nuestros_servicios.png">
  </div>

  <div class="col-8">
    <hr>
  </div>

  <div class="col-1">
    <img src="/assets/images/logo_redondo.png" />
  </div>

</div>

<div class="nuestrosClientes">
  Lorem ipsum dolor sit amet , consectetur adipiscing elit. Ut a quam blandit, pallentesque massa ut, fermentum elit. Sed commodo ligula vel turpis.
</div>

<div class="row row5">

  <div class="col-sm-12 col-md-4 col51">

      <p class="title2"> MANTENGAMOS EL CONTÁCTO</p>

      <div class="row">
          <div class="col-md-10 paadingR0">
              <input type="text" placeholder="Email" class="input1" />
          </div>
          <div class="col-md-2">
              <img src="/assets/images/btn_enviar.png" class="btnEnviar cursor"/>
          </div>
      </div>

      <p class="p1">
          Suscribete y sé el primero en recibir ofertas, información de servicios y más acerca<br/>
          de <span>ABOGLINE</span>. Para obtener más información visita nuestro <a>Aviso de  privacidad</a>
      </p>

      <p class="title2 servicioCliente">SERVICIO AL CLIENTE</p>

      <p class="title3">Preguntas Frecuentes</p>
      <p class="title3">PQRS</p>
      <p class="title3">Correo directo</p>

  </div>

  <div class="col-sm-12 col-md-4 col52">

      <p class="title2 center">SÍGUENOS</p>

      <div class="row redes">

          <div class="col center paddingEmpty"><img class="siguenosIcon cursor" src="/assets/images/facebook.png" /></div>
          <div class="col center paddingEmpty"><img class="siguenosIcon cursor" src="/assets/images/twitter.png" /></div>
          <div class="col center paddingEmpty"><img class="siguenosIcon cursor" src="/assets/images/instagram.png" /></div>
          <div class="col center paddingEmpty"><img class="siguenosIcon cursor" src="/assets/images/linked.png" /></div>
          <div class="col center paddingEmpty"><img class="siguenosIcon cursor" src="/assets/images/whastapp.png" /></div>

      </div>

      <div class="center">
          <img class="icon247" src="/assets/images/24_7.png" />
      </div>

  </div>

  <div class="col-sm-12 col-md-4 col53"></div>

</div>

<p class="copyright">
  <span>2021 © INFOABOGADOS S.A.S - ABOGLINE; Todos los derechos reservados.</span>
  <span class="copyright2">Elaborado por: <b>Edwin Aldana</b> en colaboración de <b>Camilo Avellaneda</b></span>
</p>