<div class="contenido">

  <div class="misCasos">
    
    MIS CASOS

    <div class="buscador">

      <img src="/assets/images/icon_buscar.png" />
      <input type="text" placeholder="Buscar">

    </div>

  </div>

  <div class="subContenido">

    <div class="filtros">

      <div>Mostrar</div>

      <select class="mostrar">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4" selected>4</option>
      </select>

      <div class="entradas">Entradas</div>

      <div>FILTROS | &nbsp;&nbsp;&nbsp; Categoría</div>

      <select class="categoria" (change)="trataCaso()" id="trataCaso">
        <option value="">-  Seleccionar -</option>
        <option value="amigo">Amigo o conocido</option>
        <option value="impuestos">Impuestos</option>
        <option value="jefe">Jefe o empresa</option>
        <option value="familia">Tu familia</option>
        <option value="negocio">Tu negocio</option>
        <option value="delito">Un delito</option>
        <option value="vulnerabilidad">Vulnerabilidad a tu salud</option>
        <option value="otro">Otro</option>
      </select>

      <div>Subcategoría</div>

      <select class="subcategoria" id="subcategoria">

        <option value="">-  Seleccionar -</option>

        <option value="negocio" *ngIf="cualProblema == 'negocio'">Tu negocio</option>
        <option value="delito" *ngIf="cualProblema == 'delito'">Un delito</option>

        <option value="contratos" *ngIf="cualProblema == 'amigo'">Contratos</option>
        <option value="dineros adeudados" *ngIf="cualProblema == 'amigo'">Dineros adeudados</option>
        <option value="tus bienes" *ngIf="cualProblema == 'amigo'">Tus bienes</option>
        <option value="otro" *ngIf="cualProblema == 'amigo'">Otro</option>
        
        <option value="alimentos a hijos o conyuges" *ngIf="cualProblema == 'familia'">Alimentos a hijos o conyuges</option>
        <option value="capitulaciones" *ngIf="cualProblema == 'familia'">Capitulaciones</option>
        <option value="divorcios" *ngIf="cualProblema == 'familia'">Divorcios</option>
        <option value="emancipacion" *ngIf="cualProblema == 'familia'">Emancipacion</option>
        <option value="herencias" *ngIf="cualProblema == 'familia'">Herencias</option>
        <option value="impugnacion de paternidad" *ngIf="cualProblema == 'familia'">Impugnacion de paternidad</option>
        <option value="matrimonio" *ngIf="cualProblema == 'familia'">Matrimonio</option>
        <option value="viloencia intrafamiliar" *ngIf="cualProblema == 'familia'">Violencia intrafamiliar</option>
        <option value="otro" *ngIf="cualProblema == 'familia'">Otro</option>

        <option value="declaracion de renta" *ngIf="cualProblema == 'impuestos'">Declaración de renta</option>
        <option value="problemas de deudas impuestos" *ngIf="cualProblema == 'impuestos'">Problemas de deudas impuestos</option>
        <option value="otro" *ngIf="cualProblema == 'impuestos'">Otro</option>

        <option value="despido sin justa causa" *ngIf="cualProblema == 'jefe'">Despido sin justa causa</option>
        <option value="prestaciones sociales" *ngIf="cualProblema == 'jefe'">Prestaciones sociales (Prima, vacaciones, cesantías etc)</option>
        <option value="saldos y o pagos adeudados por el empleador" *ngIf="cualProblema == 'jefe'">Saldos y/o pagos adeudados por el empleador</option>
        <option value="seguridad social" *ngIf="cualProblema == 'jefe'">Seguridad social (Salud, pensión, ARL)</option>
        <option value="otro" *ngIf="cualProblema == 'jefe'">Otro</option>

        <option value="con tu eps" *ngIf="cualProblema == 'vulnerabilidad'">Con tu eps</option>
        <option value="deterioro de tu salud" *ngIf="cualProblema == 'vulnerabilidad'">Deterioro de tu salud a causa de la responsabilidad médica</option>
        <option value="omision medica" *ngIf="cualProblema == 'vulnerabilidad'">Omisión médica</option>
        <option value="otra" *ngIf="cualProblema == 'vulnerabilidad'">Otra</option>

      </select>
      
      <img src="/assets/images/icon_flecha_next.png" (click)="buscarCasos()" />

    </div>

    <div class="registros">

      <div class="row encabezado">

        <div class="col">Caso</div>
        <div class="col">Con quién tiene problemas</div>
        <div class="col">Sobre qué trata tu caso</div>
        <div class="col">Cuál es tu problema</div>
        <div class="col">Tu abogado asociado</div>
        <div class="col">Estado</div>
        <div class="col">Acciones</div>

      </div>

      <div class="row datos" *ngFor="let item of casos">

        <div class="col">{{item.id}}.</div>
        <div class="col">{{item.problemas}}</div>
        <div class="col iconBackground">
          <img src="/assets/images/icon_{{item.trata_caso}}.png" class="iconData"/>
          {{item.trata_caso}}
        </div>
        <div class="col">{{item.cual_problema}}</div>
        <div class="col"></div>
        <div class="col">{{item.estado}}</div>
        <div class="col">

          <div class="row iconAcciones" *ngIf="item.estado_original == '1'">

            <div class="col">
              <img src="/assets/images/icon_editar.png" />
            </div>

            <div class="col">
              <img src="/assets/images/icon_eliminar.png" />
            </div>

          </div>

          <div class="row iconAcciones" *ngIf="item.estado_original == '1'">

            <div class="col editar" (click)="editarCaso(item.id)">
              Editar
            </div>

            <div class="col eliminar" (click)="eliminarCaso(item.id)">
              Eliminar
            </div>

          </div>

          <div>
            <button class="seguimiento" *ngIf="item.estado_original == '2'" (click)="seguimiento(item.id)">Seguimiento</button>
          </div>

          <div>
            <button class="consultarAbogados" *ngIf="item.estado_original == '1'" (click)="location('consultar-abogados')">Consultar Abogados</button>
          </div>

        </div>

      </div>

    </div>
    
  </div>

</div>