h3{
    margin-top:3%;
}

#tableDT{
    margin-top:8%;
}

#link{
    margin-top:5%;
    width: 100%;
}

.addBtn{
    float:right;
}

.center{
    text-align:center;
}

.btnDelete{
    margin-left:2%;
}

.msg{
    display:none;
}

.asignar{
    float: right;
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
}