<div class="container">

  <h3>Administrar Solicitudes</h3>

  <table id="tableDT" class="table table-striped table-bordered" style="width:100%">

    <thead>
      <tr>
        <th class="center">Usuario</th>
        <th class="center">Email</th>
        <th class="center">Perfil</th>
        <th class="center">Tipo de solicitud</th>
        <th class="center">Solicitud</th>
        <th class="center">Acciones</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let item of solicitudes">

        <td>{{item.usuario}}</td>
        <td>{{item.email}}</td>
        <td>{{item.perfil}}</td>
        <td>{{item.tipo_solicitud}}</td>
        <td>{{item.solicitud}}</td>
        <td>
          
          <div class="row" *ngIf="item.tipo_solicitud == 'Crear actividad'">

            <div class="col-md-6">

              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16" (click)="aprobarSolicitud(item.id)">
                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
              </svg>

            </div>

            <div class="col-md-6">

              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16" (click)="rechazarSolicitud(item.id)">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
              </svg>              

            </div>

          </div>

          <div *ngIf="item.tipo_solicitud == 'Reunion'">

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link" viewBox="0 0 16 16" (click)="asignarLink(item.id,item.id_calendario)">
              <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/>
              <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"/>
            </svg>

          </div>

        </td>

      </tr>

    </tbody>

  </table>

</div>

<!--  MODAL LINK REUNIÓN -->

<ng-template #modalLink let-modal>

  <div class="modal-body">
      
    <h4>Asignar link de la reunión</h4>

    <div>
      <input type="text" id="link">
    </div>

    <button class="btn btn-success asignar" (click)="asignarLinkReunion()">Asignar</button>
    <button type="button" class="btn btn-info asignar" (click)="generarLink()">Generar link</button>

  </div>

</ng-template>