<ion-content [fullscreen]="true">

  <div class="contenido">

    <h3>Pagos</h3>

    <table id="pagos" width="100%">

      <thead>

        <tr>

          <th width="7%">Caso</th>
          <th>Descripción del pago</th>
          <th>Estado</th>
          <th>Acciones</th>

        </tr>

      </thead>

      <tbody>

        <ng-container *ngFor="let pago of pagos">

          <tr>

            <td>{{pago.id_caso}}</td>
            <td>{{pago.descripcion}}</td>
            <td>{{pago.estado}}</td>
            <td>
              
              <form 
                id="frm_ePaycoCheckoutOpen" 
                name="frm_ePaycoCheckoutOpen" 
                method="POST" 
                action="https://secure.payco.co/checkoutopen.php"
                target="_blank">
            
                <input name="p_cust_id_cliente" type="hidden" value="547214"/>
                <input name="p_key" type="hidden" value="b7bf81d8a5a0fbb3fa8c97ab7a03724b44feebe7"/>
                <input name="p_id_factura" type="hidden" value=""/>
                <input name="p_description" type="hidden" value="Consulta"/>
                <input name="p_detalle" type="hidden" value="consulta"/>
                <input name="p_referencia" type="hidden" value="consulta"/>
                <input name="p_test_request" type="hidden" value="false"/>
                <input name="p_url_respuesta" type="hidden" value=""/>
                <input name="p_url_confirmacion" type="hidden" value=""/>
                <input type="image" id="imagen" (click)="pagar" src="https://369969691f476073508a-60bf0867add971908d4f26a64519c2aa.ssl.cf5.rackcdn.com/btns/boton_carro_de_compras_epayco3.png" alt=""/>
                <input type="hidden" id="idboton" name="idboton" value="40341"/>
                                  
              </form>

            </td>

          </tr>

        </ng-container>

      </tbody>

    </table>

  </div>

</ion-content> 
