<div class="contactenos"></div>
<div class="formulario"></div>

<div>

  <div class="title center">
    <img src="/assets/images/contactenos.png">
  </div>

  <div class="contenido">

    <div class="form">

      <div class="font15">Nombres*</div>
      <input type="text" id="nombres" />

      <div class="font15 marginTop5">Apellidos*</div>
      <input type="text" id="apellidos" />

      <div class="font15 marginTop5">Télefono de contacto*</div>
      <input type="text" id="telefonoContacto" />

      <div class="font15 marginTop5">Correo electrónico*</div>
      <input type="text" id="correo" />

      <div class="font15 marginTop5">Asunto*</div>
      <input type="text" id="asunto" />

      <div class="msg marginTop3"></div>

      <div>
        <img class="btnEnviarTxt" src="/assets/images/btn_enviar_txt.png" (click)="enviar()" />
      </div>

    </div>

    <div class="informacion">

      <div class="informacionTitle">Información de Contacto</div>

      <div class="row info">

        <div class="col-2">
          <img src="/assets/images/btn_whatsapp.png" />
        </div>

        <div class="col-10 infoData">
          +57 300 1234567
        </div>

      </div>

      <div class="row info">

        <div class="col-2">
          <img src="/assets/images/btn_correo.png" />
        </div>

        <div class="col-10 infoData">
          contacto@abogline.com
        </div>

      </div>

      <div class="redesSociales">

        <img src="/assets/images/facebook_blanco.png" />
        <img src="/assets/images/twitter_blanco.png" />
        <img src="/assets/images/instagram_blanco.png" />
        <img src="/assets/images/linked_blanco.png" />

      </div>

    </div>

  </div>

</div> 