<ion-content [fullscreen]="true">

  <div id="container">

    <table id="buscarNotificaciones" class="table table-striped table-bordered">

      <thead>

        <tr>
          <th>#</th>
          <th>Notificación</th>
          <th>Fecha de registro</th>
          <th>Acciones</th>
        </tr>

      </thead>

      <tbody></tbody>

    </table>

  </div>

  <div class="informacion success alert-primary" role="alert">
    {{this.msg}}
  </div>

  <div class="informacion warning alert-warning" role="alert">
    {{this.msg}}
  </div>

  <div class="informacion error alert-danger" role="alert">
    {{this.msg}}
  </div>

</ion-content>
