<div>

  <div class="notificaciones">
    NOTIFICACIONES
  </div>

  <div class="contenido">

    <div class="reporte">

      <div class="row">

        <div class="col-md-6 buscador">

          <img src="/assets/images/icon_buscar.png" >
          <input type="text" placeholder="Buscar">

        </div>

        <div class="col-md-6 filtro">

          <span>Mostrar</span>

          <select>
            <option value="1">1</option>
          </select>

          <span>Entradas</span>

        </div>

      </div>

      <div class="tableNotificaciones">

        <div class="row tableEncabezado">

          <div class="col-md-4">Tipo</div>
          <div class="col-md-4">Notificación</div>
          <div class="col-md-4">Acción</div>

        </div>

        <div class="row tableRegistro" *ngFor="let item of notificaciones">

          <div class="col-md-4">{{item.notificacion}}</div>
          <div class="col-md-4">{{item.notificacion_descripcion}}</div>
          <div class="col-md-4">
            
            <div class="row">
  
              <div class="col-md-6" *ngIf="item.notificacion == 'Solicitud de asesoría'">
  
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16" (click)="confirmarReunion(item.id_calendario,item.id)">
                  <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                </svg>
  
              </div>
  
              <div class="col-md-6" *ngIf="item.notificacion == 'Solicitud de asesoría'">
  
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16" (click)="rechazarReunion(item.id_calendario,item.id)">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>              
  
              </div>

              <div class="col-md-12" *ngIf="item.notificacion != 'Solicitud de asesoría'">
  
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16" (click)="eliminarNotificacion(item.id)">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>              
  
              </div>
  
            </div>

          </div>

        </div>

      </div>

      <div class="footer">Mostrando <b>{{mostrandoNotificaciones}} de {{totalNotificaciones}}</b> Notificaciones</div>

    </div>

  </div>

</div>