<ion-content [fullscreen]="true">

  <div id="container">

    <form>

      <table id="buscarAbogado" class="table table-striped table-bordered">

        <thead>
  
          <tr>
            <th>Nombre</th>
            <th>Abogado con</th>
            <th>Universidad</th>
            <th>Años de experiencia</th>
            <th>Costo de consulta</th>
            <th colspan="2">Acciones</th>
          </tr>
  
        </thead>
  
        <tbody></tbody>
  
      </table>

    </form>

  </div>

</ion-content>