<ion-content [fullscreen]="true">

  <div id="container">

    <form>

      <div class="informacion success alert-primary" role="alert">
        {{this.msg}}
      </div>
  
      <div class="informacion warning alert-warning" role="alert">
        {{this.msg}}
      </div>
  
      <div class="informacion error alert-danger" role="alert">
        {{this.msg}}
      </div>

      <div class="mb-3">
        <label for="field1" class="form-label">
          ¿Con quién tiene problemas?
        </label>
        <p id="field1"></p>
      </div>

      <div class="mb-3">
        <label for="field2" class="form-label">
          ¿Sobre que trata tu caso?
        </label>
        <p id="field2"></p>
      </div>

      <div class="mb-3">
        <label for="field4" class="form-label">
          ¿Cuál es tu problema?
        </label>
        <p id="field4"></p>
      </div>

      <div class="mb-3">
        <label for="field6" class="form-label">
          Cuentanos tu caso
        </label>
        <p id="field6"></p>
      </div>

      <div class="mb-3">
        <label for="field7" class="form-label">
          ¿Ya inicio un proceso ante un juzgado o entidad  para su solución?
        </label>
        <p id="field7"></p>
      </div>

      <button 
        type="button" 
        class="btn btn-danger btnRechazar" 
        (click)="modalRechazar('Rechazar solicitud','¿ Esta seguro de rechazar la solicitud ?')"
      >
        Rechazar solicitud
      </button>
      
      <button 
        type="button" 
        class="btn btn-success btnSolicitud" 
        (click)="modalConfirmar('Solicitar consulta','¿ Esta seguro de enviar al cliente una solicitud de consulta para este caso ?')"
      >
        Solicitar consulta
      </button> 

      <button 
        type="button" 
        class="btn btn-success btnReunion" 
        (click)="modalConfirmarReunion('Aprobar reunión','¿ Esta seguro de aceptar la reunion para el día ' + fechaReunion + ' ?')"
      >
        Aprobar reunión
      </button> 

    </form>

  </div>

</ion-content>
