.content{
    margin:3%;
}

.datatable{
    margin:auto;
    margin-top: 2%;
    width: 60%;
}

.title{
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid;
}

.col{
    text-align: center;
    padding: 1%;
}

input{
    width:100%;
}