<ion-app>

  <ion-header [translucent]="true">

    <div class="row">

      <div class="col-md-3">
        <img class="logoHeader cursor" (click)="location('home')" src="/assets/images/logo_header.png">
      </div>

      <div class="col-md-9">
        
        <div class="row heightFull">

          <div class="col-md-7">
            
            <div class="row heightFull">

              <ul class="marginAuto">
                <li (click)="location('perfil')" *ngIf="autenticado==1" class="heightFull paddingL4">Hola {{usuarioHeader}}</li>
                <li class="heightFull paddingL4" (click)="location('contactenos')">Contáctenos</li>
                <li class="heightFull paddingL4 paddingR4 borderR1" (click)="location('nosotros')">Nosotros</li>
                <li class="heightFull paddingR4 borderR1" (click)="location('quienes-somos')">¿Quiénes Somos?</li>
              </ul>

            </div>

          </div>

          <div class="col-md-5">

            <div class="row heightFull">

              <div class="col-md-4 registrarse middle">
                <button class="cursor" (click)="registrarseMain()" *ngIf="autenticado==0">REGISTRARSE</button>
              </div>

              <div class="col-md-4 iniciarSesion middle">
                <button class="cursor" (click)="autenticacion()" *ngIf="autenticado==0">INICIAR SESIÓN</button>
              </div>

              <div class="col-md-4 cerrarSesion middle">
                <button class="cursor" (click)="cerrarSesion()" *ngIf="autenticado==1">CERRAR SESIÓN</button>
              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

    <div class="row mainPrincipal" *ngIf="autenticado == 1">

      <ul class="marginAuto ulMain">

        <li class="heightFull paddingR4 borderR1">Inicio</li>
        <li class="heightFull paddingL4 paddingR4 borderR1" *ngIf="perfil == 'administrador'">
          <a class="btn dropdown-toggle fWhite administrar" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ménu
          </a>
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="admin-quienes-somos">Quiénes somos</a>
            <a class="dropdown-item" href="admin-nosotros">Nosotros</a>
          </div>
        </li>
        <li class="heightFull paddingL4 paddingR4 borderR1" *ngIf="perfil == 'administrador'">
          <a class="btn dropdown-toggle fWhite administrar" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Perfil
          </a>
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="admin-acerca">Acerca</a>
            <a class="dropdown-item" href="admin-city">Ciudades</a>
            <a class="dropdown-item" href="admin-genero">Generos</a>
            <a class="dropdown-item" href="admin-municipio">Municipios</a>
            <a class="dropdown-item" href="admin-politica">Política y privacidad</a>
            <a class="dropdown-item" href="admin-tipo-documento">Tipos de documentos</a>
            <a class="dropdown-item" href="admin-titulos-hv">Títulos hoja de vida</a>
          </div>
        </li>
        <li class="heightFull paddingL4 paddingR4 borderR1 registrarCaso" *ngIf="perfil == 'cliente'" (click)="location('registrar-caso')">Registrar caso</li>
        <li class="heightFull paddingL4 paddingR4 borderR1 misCasos" *ngIf="perfil == 'cliente' || perfil == 'abogado'" (click)="location('mis-casos')">Mis casos</li>
        <li class="heightFull paddingL4 paddingR4 borderR1" *ngIf="perfil == 'cliente'" (click)="location('consultar-abogados')">Consultar abogados</li>
        <li class="heightFull paddingL4 paddingR4 borderR1" *ngIf="perfil != 'administrador'" (click)="location('notificaciones')">Notificaciones <span class="iconNotificacion">{{totalNotificaciones}}</span></li>
        <li class="heightFull paddingL4 paddingR4 borderR1" *ngIf="perfil != 'administrador'" (click)="location('calendar')">Calendario</li>
        <li class="heightFull paddingL4 paddingR4" *ngIf="perfil == 'cliente'">Pagos pendientes</li>
        <li class="heightFull paddingL4 paddingR4 buscaTuCaso" *ngIf="perfil == 'abogado'" (click)="location('buscar-casos')">Busca tu caso</li>

        <li class="heightFull paddingL4 paddingR4 borderR1" *ngIf="perfil == 'administrador'">
          <a class="btn dropdown-toggle fWhite administrar" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Core
          </a>
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="admin-actividades">Actividades</a>
            <a class="dropdown-item" href="admin-solicitudes">Solicitudes</a>
          </div>
        </li>

        <li class="heightFull paddingL4 paddingR4 administrarUsuarios" *ngIf="perfil == 'administrador'" (click)="location('admin-usuarios')">Usuarios</li>
                
      </ul>

    </div>

  </ion-header>

  <ion-content>

    <ion-router-outlet class="backgroundWhite colorBlack"></ion-router-outlet>

  </ion-content>

</ion-app>

<!--------------------------------------------------------------------------------------->

<!--  Modal confirmación -->

<div class="modal modalConfirm" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary modal-continuar">Continuar</button>
        <button type="button" class="btn btn-secondary modal-cancelar" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<!--------------------------------------------------------------------------------------->

<!--  Modal confirmación notificación -->

<div class="modal modalConfirmNotification" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mnTitle"></h5>
      </div>
      <div class="modal-body mnMessage"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary modal-continuar" data-dismiss="modal">Continuar</button>
      </div>
    </div>
  </div>
</div>

<!--------------------------------------------------------------------------------------->

<!--  Modal agendar reunión -->

<div class="modal modalAgendar" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agendar reunión</h5>
      </div>
      <div class="modal-body">
        <form>
          <label style="width:100%!important;">
            <p class="label-txt titleAgendar">Abogado:</p>
            <input type="hidden" id="agendarAbogadoEmail">
            <input type="hidden" id="agendarIdCaso">
            <input type="text" class="input" id="agendarAbogado" style="width:100%!important;" disabled>
            <div class="line-box">
              <div class="line"></div>
            </div>
          </label>
          <label>
            <p class="label-txt">Fecha de reunión:</p>
            <input type="datetime-local" step="2" class="input" id="agendarFecha">
            <div class="line-box">
              <div class="line"></div>
            </div>
          </label>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary eventoAgendar">Agendar</button>
        <button type="button" class="btn btn-secondary modal-cancelar" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<!--  MODAL REGISTRO SELECCIÓN DE PERFIL -->

<ng-template #modalRegistoMain let-modal id="modal1">

  <div class="modal-body">

    <img src="/assets/images/logo_redondo.png" class="logoRedondo" />

    <button class="closeModal" (click)="closeModal()">X</button>

    <div class="bodyModalRegistroMain">

      <p class="center perfilTitle">PERFIL</p>
      <p class="center escogePerfilTitle">Escoge tú perfil por favor.</p>
      
      <div class="row seleccionaPerfil">

        <div class="col-md-6 center">
          <img src="/assets/images/boton_cliente.png" class="botonCliente" (click)="registerProfile('cliente')"/>
        </div>

        <div class="col-md-6 center">
          <img src="/assets/images/boton_abogado.png" class="botonAbogado" (click)="registerProfile('abogado')" />
        </div>

      </div>

      <p class="center registraBienvenido">¡Bienvenido a la <br/>Familia Abogline!</p>

    </div>
      
  </div>

</ng-template>

<!--  MODAL REGISTRO FORMULARIO -->

<ng-template #modalRegistoForm let-modal id="modal2">

  <div class="modal-body">

    <img src="/assets/images/logo_redondo.png" class="logoRedondo" />

    <button class="closeModal" (click)="closeModal()">X</button>

    <div class="bodyModalRegistroMain center">

      <input id="registerUsuario" type="text" class="inputRegister inputUsuario" placeholder="Usuario (*):" />
      <input id="registerEmail" type="text" class="inputRegister inputEmail" placeholder="Correo Electrónico (*):" />
      <input id="registerPassword" type="password" class="inputRegister inputPassword" placeholder="Contraseña (*):" />
      <input id="registerConfirmPassword" type="password" class="inputRegister inputConfirmPassword" placeholder="Confirmar Contraseña (*):" />

      <p class="msgError"></p>
      <p class="msgSuccess"></p>

      <div class="capaTerminos">
        <input id="checkTerminos" type="checkbox" class="checkTerminos"/>
        <span class="terminos">Acepta los términos y condiciones (*)</span>
      </div>

      <div class="capaSesion">
        <span class="tieneCuenta">¿Ya tienes una cuenta?</span>
        <span class="iniciaSesion" (click)="autenticacion()">Inicia sesión</span>
      </div>

      <div class="registrarseButton">
        <img src="/assets/images/registrarse.png" (click)="registrarse()" />
      </div>

    </div>
      
  </div>

</ng-template>

<!--  MODAL AUTENTICACIÓN -->

<ng-template #modalAutenticacion let-modal id="modal3">

  <div class="modal-body">

    <img src="/assets/images/logo_redondo.png" class="logoRedondo" />

    <button class="closeModal" (click)="closeModal()">X</button>

    <div class="bodyModalAutenticacion center">

      <input id="loginUsuario" type="text" class="inputRegister inputUsuario" placeholder="Usuario o Correo Electrónico (*):" />
      <input id="loginPassword" type="password" class="inputRegister inputPassword" placeholder="Contraseña (*):" />

      <p><span class="msgErrorLogin"></span></p>
      <p><span class="msgSuccessLogin"></span></p>

      <div class="row capaTerminos">

        <div class="col-md-6">
          <!--<input type="checkbox" class="checkTerminos"/>
          <span class="terminos">Recordarme</span>-->
        </div>

        <div class="col-md-6">
          <span class="terminos cursor" (click)="olvidarPassword()">¿Olvidó la contraseña?</span>
        </div>
        
      </div>

      <div class="capaSesion">
        <span class="tieneCuenta">¿No tienes una cuenta?</span>
        <span class="iniciaSesion" (click)="registrarseMain()">Registrarse</span>
      </div>

      <div class="iniciarSesionButton">
        <img src="/assets/images/iniciar_sesion.png" (click)="autenticacionAction()" />
      </div>

    </div>
      
  </div>

</ng-template>

<ngx-spinner></ngx-spinner>

<div class="btn-flotante" *ngIf="usuario">
  <div class="chatHeader" (click)="openChat()"></div>
</div>

<div class="btn-flotante2">

  <div class="chatHeader2">

    Nuestro horario de atención es 24/7.

    <img src="/assets/images/minimizar.png" (click)="minimizarChat()">
    <img class="chatCerrar" src="/assets/images/cerrar.png" (click)="cerrarChat()">

  </div>

  <div class="chatContenido">
    
    <div class="chatSaludo">HOLA AMIG@ <span>CHATEEMOS</span></div>

    <div class="chatTipo1">

      <div class="row">

        <div class="col-md-6">Tipo de identificación</div>
        <div class="col-md-6">Identificación</div>

      </div>

      <div class="row">

        <div class="col-md-6">

          <select id="chatTipoIdentificacion">
            <option>CC</option>
            <option>CE</option>
          </select>

        </div>

        <div class="col-md-6"><input id="chatIdentificacion" type="text"></div>

        <p>Nombres</p>
        <p><input type="text" id="chatNombres"></p>

        <p>Apellidos</p>
        <p><input type="text" id="chatApellidos"></p>

        <p>Correo electrónico</p>
        <p><input type="text" id="chatCorreo"></p>

        <p><textarea id="chatCuentanos" placeholder="Cuéntanos cómo te podemos ayudar"></textarea></p>

        <div class="chatTratamiento">
          <input type="checkbox" id="chatTerminos">
          <span>Acepto el tratamiento de datos personales</span>
        </div>

        <div class="chatEnviar">
          <img src="/assets/images/boton_enviar.png" (click)="iniciarChat()">
        </div>

      </div>

    </div>

    <div class="chatTipo2">

        <div class="historialChat">

        <div class="row">

          <div class="col-md-2 chatLogoContent">
            <img src="/assets/images/logo_redondo.png" class="chatLogo">
          </div>

          <div class="col-md-8 chatFondo">
            Hola <b>{{usuarioHeader}}</b>, soy Botty tu asistente virtual de Abogline, dinos como podemos ayudarte.
          </div>

        </div>

        <div class="row">

          <div class="col-md-2 chatLogoContent">
            <img src="/assets/images/logo_redondo.png" class="chatLogo">
          </div>

          <div class="col-md-8 chatFondo marginTop2">
            Selecciona la opción que quieres consultar, para esto debe <b>escribir el número</b> correspondiente:<br><br>
            
            <div *ngIf="perfil=='cliente'">

              1. Registrar caso <br>
              2. Consultar caso <br>
              3. Consultar abogado <br>
              4. Consultar cliente <br>
              5. Agendar <br>
              6. Pagos <br>
              7. Perfil

            </div>
            
            <div *ngIf="perfil=='abogado'">

              1. Consultar caso <br>
              2. Consultar cliente <br>
              3. Agendar <br>
              4. Perfil

            </div>

          </div>

        </div>

        <div class="row marginTop2" *ngFor="let item of chat">

          <ng-container *ngIf="item.tipo=='usuario'">

            <div class="col-md-2"></div>

            <div class="col-md-8 chatFondoUsuario">
              {{item.msg}}
            </div>
    
            <div class="col-md-2 chatLogoContent">
              <img [attr.src]="rutaBackend+'photo/'+usuario+'.jpg'" class="chatLogo">
            </div>

          </ng-container>

          <ng-container *ngIf="item.tipo=='robot'">

            <div class="col-md-2 chatLogoContent">
              <img src="/assets/images/logo_redondo.png" class="chatLogo">
            </div>
    
            <div class="col-md-8 chatFondo marginTop2" [innerHTML]="item.msg"></div>

          </ng-container>

        </div>

      </div>

      <div class="chatCheckbox">
        <input type="checkbox" checked id="enviarCorreo">
        <span>Enviar correo</span>
        <!--<input type="checkbox" checked id="realizarEncuesta">
        <span>Realizar encuesta</span>-->
      </div>

    </div>

  </div>

  <div class="chatEnviar2">
    <input type="text" placeholder="Escribe tu mensaje" id="mensajeUsuario">
    <img src="/assets/images/boton_enter.png" (click)="enviarMensajeUsuario()">
  </div>

</div>