<ion-app>

  <ion-header [translucent]="true">

    <div class="row">

      <div class="col-md-5">
        <img class="logoHeader cursor" (click)="location('home')" src="/assets/images/logo_header.png">
      </div>

      <div class="col-md-7">
        
        <div class="row">

          <div class="col-md-7">
            
            <div class="row menuPrincipalHeader">
              
              <div class="col-4 quienesSomos cursor">¿Quiénes Somos?</div>
              <div class="col-4 nosotros cursor">Nosotros</div>
              <div class="col-4 cursor">Contáctenos</div>

            </div>

          </div>

          <div class="col-md-5">

            <div class="row">

              <div class="col-md-6 registrarse">
                <button class="cursor" (click)="registrarseMain()">REGISTRARSE ></button>
              </div>

              <div class="col-md-6 iniciarSesion">
                <button class="cursor" (click)="location('login')">INICIAR SESIÓN ></button>
              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light mainPrincipal" *ngIf="auth == 1">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link main inicio" (click)="location('home')">Inicio</a>
          <a *ngIf="profile == 'cliente'" class="nav-item nav-link main" (click)="location('register-caso')">Registrar Caso</a>
          <a *ngIf="profile == 'cliente'" class="nav-item nav-link main" (click)="location('consultar-caso')">Consultar Caso</a>
          <a *ngIf="profile == 'cliente'" class="nav-item nav-link main" (click)="location('abogados')">Consultar abogados</a>
          <a *ngIf="profile == 'abogado'" class="nav-item nav-link main" (click)="location('consultar-caso')">Buscar Caso</a>
          <a *ngIf="profile != 'admin'" class="nav-item nav-link main" (click)="location('solicitudes')">Solicitudes</a>
          <a *ngIf="profile != 'admin'" class="nav-item nav-link main" (click)="location('agendar')">Agendar</a>
          <a *ngIf="profile != 'admin'" class="nav-item nav-link main" (click)="location('calendar')">Calendario</a>
          <a *ngIf="profile == 'cliente'" class="nav-item nav-link main" (click)="location('pagos')">Pagos</a>
          <a *ngIf="profile == 'abogado'" class="nav-item nav-link main" (click)="location('solicitar-documentacion')">Solicitar documentación</a>
          <a *ngIf="profile == 'cliente'" class="nav-item nav-link main" (click)="location('cargar-documentacion')">Cargar documentación</a>
          <a *ngIf="profile != 'admin'" class="nav-item nav-link main" (click)="location('consultar-documentacion')">Consultar documentos</a>
          <a *ngIf="profile != 'admin'" class="nav-item nav-link main" (click)="location('seguimiento')">Seguimiento</a>
          <a *ngIf="profile == 'admin'" class="nav-item nav-link main" (click)="location('usuarios')">Usuarios</a>
          <a *ngIf="profile == 'admin'" class="nav-item nav-link main" (click)="location('admin-agendas')">Agendas</a>
          <a *ngIf="profile == 'admin'" class="nav-item nav-link main" (click)="location('admin-plantillas')">Plantillas</a>
        </div>
      </div>
    </nav>

  </ion-header>

  <ion-content>

    <ion-router-outlet></ion-router-outlet>

  </ion-content>

  <ngx-spinner></ngx-spinner>

</ion-app>

<!--------------------------------------------------------------------------------------->

<!--  Modal confirmación -->

<div class="modal modalConfirm" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary modal-continuar">Continuar</button>
        <button type="button" class="btn btn-secondary modal-cancelar" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<!--------------------------------------------------------------------------------------->

<!--  Modal confirmación notificación -->

<div class="modal modalConfirmNotification" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mnTitle"></h5>
      </div>
      <div class="modal-body mnMessage"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary modal-continuar" data-dismiss="modal">Continuar</button>
      </div>
    </div>
  </div>
</div>

<!--------------------------------------------------------------------------------------->

<!--  Modal agendar reunión -->

<div class="modal modalAgendar" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agendar reunión</h5>
      </div>
      <div class="modal-body">
        <form>
          <label style="width:100%!important;">
            <p class="label-txt titleAgendar">Abogado:</p>
            <input type="hidden" id="agendarAbogadoEmail">
            <input type="hidden" id="agendarIdCaso">
            <input type="text" class="input" id="agendarAbogado" style="width:100%!important;" disabled>
            <div class="line-box">
              <div class="line"></div>
            </div>
          </label>
          <label>
            <p class="label-txt">Fecha de reunión:</p>
            <input type="datetime-local" step="2" class="input" id="agendarFecha">
            <div class="line-box">
              <div class="line"></div>
            </div>
          </label>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary eventoAgendar">Agendar</button>
        <button type="button" class="btn btn-secondary modal-cancelar" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<!--  MODAL REGISTRO SELECCIÓN DE PERFIL -->

<ng-template #modalRegistoMain let-modal id="modal1">

  <div class="modal-body">

    <img src="/assets/images/logo_redondo.png" class="logoRedondo" />

    <div class="bodyModalRegistroMain">

      <p class="center perfilTitle">PERFIL</p>
      <p class="center escogePerfilTitle">Escoge tú perfil por favor.</p>
      
      <div class="row seleccionaPerfil">

        <div class="col-md-6 center">
          <img src="/assets/images/boton_cliente.png" class="botonCliente" />
        </div>

        <div class="col-md-6 center">
          <img src="/assets/images/boton_abogado.png" class="botonAbogado" />
        </div>

      </div>

      <p class="center registraBienvenido">¡Bienvenido a la <br/>Familia Abogline!</p>

    </div>
      
  </div>

</ng-template>