.notification {
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: 32px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}

#container{
  top:15%;
}

a:hover{
  cursor:pointer;
  opacity: 0.4;
}