ul {
  width:92%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
  color:#ffffff;
  line-height: 20px;
}

.mainPrincipal li{
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
a:link {
  text-decoration: none!important;
}

a:visited {
  text-decoration: none!important;
}

a:hover {
  text-decoration: underline!important;
}

a:active {
  text-decoration: underline!important;
}

h5{
  width:100%;
  text-align: center;
  font-weight: bold;
}
p{
  width:100%;
}

#dropdownMenuLink{
  padding:0%;
  line-height: 9px;
}

.center{
  text-align: center;
}

.notification {
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: 32px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}

a:hover{
  cursor:pointer;
  opacity: 0.4;
}

.headerLeft{
  width:auto;
}

.headerLeft a{
  padding-left: 1%;
  padding-right: 1%;
}
.logoHeader{
  width: 87%;
  padding: 5% 2% 5% 12%;
}
.registrarse{
  padding-right: 0%;
}
.registrarse button{
  color: #031735;
  font-weight: bold;
  font-size: 11px;
  font-family: 'Lato';
  padding: 5% 10% 5% 10%;
  border: 0px;
  border-radius: 6px;
  background: #D9DADE;
}
.iniciarSesion{
  padding-left: 0%;
}
.iniciarSesion button{
  color: #031735;
  font-weight: bold;
  font-size: 11px;
  font-family: 'Lato';
  padding: 5% 10% 5% 10%;
  border: 0px;
  border-radius: 6px;
  background: #9a999e;
}

.cerrarSesion{
  padding-left: 0%;
}

.cerrarSesion button{
  color: #031735;
  font-weight: bold;
  font-size: 11px;
  font-family: 'Lato';
  padding: 5% 10% 5% 10%;
  border: 0px;
  border-radius: 6px;
  background: #9a999e;
}

.menuPrincipalHeader div{
  padding-left:0%;
  padding-right:0%;
  font-size: 14px;
  text-align: center;
  color:#ffffff;
  margin-top: 9%;
}
.quienesSomos,.nosotros{
  border-right:1px solid#ffffff;
}
.cursor:hover{
  cursor:pointer;
  opacity:0.4;
}
.logoRedondo{
  width: 23%;
  position: absolute;
  left: 38%;
  top: -13%;
  z-index: 1;
}

.bodyModalRegistroMain{
  padding-top: 13%;
  background: #ffffff;
  z-index: 1;
  border-radius: 8px;
  min-height: 310px;
  width: 86%;
  margin: auto;
}

.bodyModalAutenticacion{
  padding-top: 18%;
  background: #ffffff;
  z-index: 1;
  border-radius: 8px;
  min-height: 276px;
  width: 86%;
  margin: auto;
}

.perfilTitle{
  color: #00183B;
  font-size: 24px;
  font-weight: bold;
  margin-top: -2%;
}

.escogePerfilTitle{
  font-style: italic;
}

.botonCliente{
  width: 75%;
}

.botonCliente:hover {
  transform: scale(1.1);
  cursor:pointer;
  opacity:0.8;
}

.botonAbogado{
  width: 75%;
}

.botonAbogado:hover {
  transform: scale(1.1);
  cursor:pointer;
  opacity:0.8;
}

.seleccionaPerfil{
  width: 75%;
  margin: auto;
}

.registraBienvenido{
  padding-top: 5%;
  color: #00475C;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 6%;
  line-height: 32px;
}

.cursor:hover{
  cursor:pointer;
  opacity: 0.4;
}

.inputRegister{
  width: 85%;
  height: 57px;
  border: 0px solid;
  padding-left: 17%;
  font-style: italic;
  color: #ffffff;
  outline:none
}

.inputRegister::placeholder{
  color: #ffffff;
}

.inputUsuario{
  background: url('/assets/images/input_usuario.png');
  background-position: center;
  background-size: 100% 100%;
}

.inputEmail{
  background: url('/assets/images/input_email.png');
  background-position: center;
  background-size: 100% 100%;
  margin-top:3%;
}

.inputPassword{
  background: url('/assets/images/input_password.png');
  background-position: center;
  background-size: 100% 100%;
  margin-top:3%;
}

.inputConfirmPassword{
  background: url('/assets/images/input_confirm_password.png');
  background-position: center;
  background-size: 100% 100%;
  margin-top:3%;
}

.capaTerminos{
  text-align: left;
  margin-top: 3%;
  margin-left: 8%;
}

.terminos{
  padding-left: 2%;
  font-size: 12px;
  color: #06697B;
  font-weight: bold;
  font-style: italic;
}

.tieneCuenta{
  color: #0F2039;
  font-weight: 600;
  font-style: italic;
}

.iniciaSesion{
  color: #497582;
  font-style: italic;
  padding-left: 4%;
  font-weight: 500;
}

.capaSesion{
  padding-top: 1%;
  padding-bottom: 3%;
}

.iniciaSesion:hover {
  transform: scale(1.1);
  cursor:pointer;
  opacity:0.8;
}

.iniciarSesionButton{
  position: absolute;
  width: 60%;
  margin-top: 0%;
  left: 20%;
}

.registrarseButton{
  position: absolute;
  width: 60%;
  margin-top: 0%;
  left: 20%;
}

.msgError{
  display: none;
  color: red;
  font-style: italic;
}

.msgSuccess{
  display: none;
  color: green;
  font-style: italic;
}

.msgErrorLogin{
  display: none;
  color: red;
  font-style: italic;
}

.msgSuccessLogin{
  display: none;
  color: green;
  font-style: italic;
}

.middle{
  margin:auto;
}

.fWhite{
  color:#ffffff;
}

.mainPrincipal{
  border-top: 2px solid #CDCFD1;
  border-bottom: 2px solid #CDCFD1;
  padding: 0%;
  background: #0C1F3C;
  height: auto;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.background1{
  background: #0C1F3C;
}

.padding2{
  padding-left: 2%;
}

.mainPrincipal a:hover{
  color:#ffffff;
}

.bRWhite{
  border-right:1px solid#ffffff;
}

.paddingT05{
  padding-top: 0.5%;
}

.paddingB05{
  padding-bottom: 0.5%;
}

.paddingL4{
  padding-left: 4%;
}

.paddingR4{
  padding-right: 4%;
}

.heightFull{
  height: 100%;
}

.mainItem{
  width: 100%;
  margin: auto;
  vertical-align: middle;
}

.mainItemPrincipal{
  margin-top: 1%;
  margin-bottom: 1%;
  max-height: 17px;
  line-height: 0px;
}

.mainItemPrincipalFinal{
  margin-top: 1%;
  margin-bottom: 1%;
  max-height: 17px;
  line-height: 0px;
  border-right: 0px solid;
}

.administrar{
  font-weight: bold;
  font-size: 13px;
  padding-top: 11%;
  padding-left: 47%;
}

.marginAuto{
  margin:auto;
}

.paddingR4{
  padding-right: 4%;
}

.paddingL4{
  padding-left: 4%;
}

.borderR1{
  border-right: 1px solid#ffffff;
}

.dropdown-item{
  color: #264558!important;
  text-align: left!important;
}

.closeModal{
  float: right;
  margin-right: 10%;
  margin-top: 2%;
  font-weight: bold;
  font-size: 15px;
  color: #0b1e3b;
}

.ulMain{
  padding: 1% 0% 1% 0%;
}

.ulMain li{
  height: 12px;
  font-size: 13px;
  line-height: 13px;
}