<ion-content>
  
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="/assets/images/logo.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="loginUsuario" class="fadeIn second" name="login" placeholder="Usuario">
        <input type="password" id="loginPassword" class="fadeIn third" name="login" placeholder="Contraseña">
        <input type="button" class="fadeIn fourth iniciarSesion" value="Iniciar Sesión" (click)="autenticar()">
      </form>
  
    </div>
  </div>

</ion-content>
