<ion-content [fullscreen]="true">

  <div class="contenido">

    <h3>Agendas</h3>

    <table id="agendas" width="100%">

      <thead>

        <tr>

          <th>Usuario</th>
          <th>Email</th>
          <th>Estado</th>
          <th>Fecha</th>
          <th>Agenda</th>
          <th>Link reunión</th>
          <th>Acciones</th>

        </tr>

      </thead>

      <tbody>

        <ng-container *ngFor="let agenda of agendas;let i = index">

          <tr>

            <td>{{agenda.usuario}}</td>
            <td>{{agenda.email}}</td>
            <td>{{agenda.estado}}</td>
            <td>{{agenda.fecha}}</td>
            <td>{{agenda.descripcion}}</td>
            <td>{{agenda.link}}</td>
            <td>
              <button (click)="editarAgenda(i)">Editar agenda</button>
            </td>

          </tr>

        </ng-container>

      </tbody>

    </table>

  </div>

  <!--  MODAL -->

  <ng-template #modalEditAgenda let-modal id="modal1">

    <div class="modal-header">

      <h4 class="modal-title" id="modal-basic-title">Editar usuario</h4>

      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>

    </div>

    <div class="modal-body">

      <p>Agenda:</p>
      <input id="idAgenda" type="hidden" />
      <textarea id="agenda" disabled></textarea>
      
      <p>Link de reunión:</p>
      <input type="text" id="link" />
        
    </div>

    <div class="modal-footer">
      
      <button type="button" class="btn btn-outline-dark" (click)="actualizarLink()">
        Actualizar
      </button>

    </div>

  </ng-template>

</ion-content>
