<ion-content [fullscreen]="true">

  <div id="container">

    <form>

      <table id="buscarCaso" class="table table-striped table-bordered">

        <thead>
  
          <tr>
            <th># Caso</th>
            <th>Con quién tiene problemas</th>
            <th>Sobre que trata el caso</th>
            <th>Ya se inició un proceso ante un juzgado o entidad para su solución</th>
            <th colspan="2">Acciones</th>
          </tr>
  
        </thead>
  
        <tbody></tbody>
  
      </table>

    </form>

  </div>

</ion-content>