<ion-content [fullscreen]="true">

  <div id="container">

    <form>

      <div class="informacion success alert-primary" role="alert">
        {{this.msg}}
      </div>
  
      <div class="informacion warning alert-warning" role="alert">
        {{this.msg}}
      </div>
  
      <div class="informacion error alert-danger" role="alert">
        {{this.msg}}
      </div>

      <!--  Campo 1 -->

      <label>
        <p class="label-txt">¿Con quién tiene problemas? (*):</p>
        <select class="input" id="casoField1" (change)="changeField('casoField1')">
          <option value="">- Seleccionar -</option>
          <option value="1">El estado (Toda entidad pública u organismo adscrito a los gobiernos nacionales regionales y/o locales)</option>
          <option value="2">Un particular o empresa privada (Tu jefe, un amigo, tu familia, conocidos, tu jefe y empresas que son privadas)</option>
        </select>
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>

      <!--  Campo 2 -->
      
      <label>
        <p class="label-txt">¿Sobre que trata tu caso? (*):</p>
        <select class="input" id="casoField2" (change)="changeField('casoField2')">
          <option value="">- Seleccionar -</option>
          <option value="1" *ngIf="casoField2Vali1 == 1 && casoField2Vali2 == 1">Con tu empleo en una entidad pública</option>
          <option value="2" *ngIf="casoField2Vali1 == 1 && casoField2Vali2 == 2">Con tus impuestos</option>
          <option value="3" *ngIf="casoField2Vali1 == 1 && casoField2Vali2 == 2">Con tu negocio</option>
          <option value="4" *ngIf="casoField2Vali1 == 1 && casoField2Vali2 == 2">Con un amigo o conocido</option>
          <option value="5" *ngIf="casoField2Vali1 == 1 && casoField2Vali2 == 1">Reparación de daños y perjuicios causados por el estado</option>
          <option value="6" *ngIf="casoField2Vali1 == 1 && casoField2Vali2 == 2">Tu familia</option>
          <option value="7" *ngIf="casoField2Vali1 == 1 && casoField2Vali2 == 2">Tu jefe o empresa</option>
          <option value="8" *ngIf="casoField2Vali1 == 1 && casoField2Vali2 == 2">Vulneración a tu salud</option>
          <option value="9" *ngIf="casoField2Vali1 == 1 && casoField2Vali2 == 1">Vulneración de derechos fundamentales</option>
          <option value="10" *ngIf="casoField2Vali1 == 1 && casoField2Vali2 == 1">Vulneración de derechos por el estado</option>
          <option value="11" *ngIf="casoField2Vali1 == 1 && casoField2Vali2 == 2">Un delito o temas con policía</option>
          <option value="12" *ngIf="casoField2Vali1 == 1">Otro</option>
        </select>
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>

      <!--  Campo 3 -->

      <label class="otro casoField3">
        <p class="label-txt">Cual:</p>
        <input type="text" class="input" id="casoField3" disabled>
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>

      <!--  Campo 4 -->
      
      <label>
        <p class="label-txt">¿Cuál es tu problema? (*):</p>
        <select class="input" id="casoField4" (change)="changeField('casoField4')" multiple>
          <option value="">- Seleccionar -</option>
          <option value="1" *ngIf="casoField4Vali1 == 1 && casoField4Vali2 == 2">Acoso laboral</option>
          <option value="2" *ngIf="casoField4Vali1 == 1 && casoField4Vali2 == 1">Alimentos a hijos o conyugues</option>
          <option value="3" *ngIf="casoField4Vali1 == 1 && casoField4Vali2 == 1">Capitulaciones</option>
          <option value="4" *ngIf="casoField4Vali1 == 1 && casoField4Vali2 == 5">Con tu EPS</option>
          <option value="5" *ngIf="casoField4Vali1 == 1 && casoField4Vali2 == 3">Contratos</option>
          <option value="6" *ngIf="casoField4Vali1 == 1 && casoField4Vali2 == 4">Declaración de renta</option>
          <option value="7" *ngIf="casoField4Vali1 == 1 && casoField4Vali2 == 5">Deterioro de tu salud a causa de la responsabilidad médica</option>
          <option value="8" *ngIf="casoField4Vali1 == 1 && casoField4Vali2 == 2">Despido sin justa causa</option>
          <option value="9" *ngIf="casoField4Vali1 == 1 && casoField4Vali2 == 3">Dineros adeudados</option>
          <option value="10" *ngIf="casoField4Vali1 == 1 && casoField4Vali2 == 1">Divorcios</option>
          <option value="11" *ngIf="casoField4Vali1 == 1 && casoField4Vali2 == 1">Emancipación</option>
          <option value="12" *ngIf="casoField4Vali1 == 1 && casoField4Vali2 == 1">Herencias</option>
          <option value="13" *ngIf="casoField4Vali1 == 1 && casoField4Vali2 == 1">Inpugnación de paternidad</option>
          <option value="14" *ngIf="casoField4Vali1 == 1 && casoField4Vali2 == 1">Matrimonio</option>
          <option value="15" *ngIf="casoField4Vali1 == 1 && casoField4Vali2 == 5">Omisión médica</option>
          <option value="16" *ngIf="casoField4Vali1 == 1 && casoField4Vali2 == 2">Prestaciones sociales (Prima, vacaciones, cesantías, etc)</option>
          <option value="17" *ngIf="casoField4Vali1 == 1 && casoField4Vali2 == 4">Problemas de deudas impuestos</option>
          <option value="18" *ngIf="casoField4Vali1 == 1 && casoField4Vali2 == 2">Saldos y/o pagos adeudados por el empleador</option>
          <option value="19" *ngIf="casoField4Vali1 == 1 && casoField4Vali2 == 1">Seguridad social (Salud, Pensión ARL)</option>
          <option value="20" *ngIf="casoField4Vali1 == 1 && casoField4Vali2 == 3">Tus bienes</option>
          <option value="21" *ngIf="casoField4Vali1 == 1 && casoField4Vali2 == 1">Violencia intrafamiliar</option>
          <option value="22" *ngIf="casoField2Vali1 == 1">Otro</option>
        </select>
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>

      <!--  Campo 5 -->

      <label class='otro casoField5'>
        <p class="label-txt">Cual:</p>
        <input type="text" class="input" id="casoField5" disabled>
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>

      <!--  Campo 6 -->

      <label>
        <p class="label-txt">Cuentanos de tu caso (*):</p>
        <textarea class="input" id="casoField6"></textarea>
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>

      <!--  Campo 7 -->

      <label>
        <p class="label-txt">¿Ya se inició un proceso ante un juzgado o entidad para su solución? (*):</p>
        <select class="input" id="casoField7">
          <option value="">- Seleccionar -</option>
          <option value="1">Si</option>
          <option value="2">No</option>
        </select>
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
      
      <button (click)="modalConfirmar('Registrar caso','¿ Esta seguro de continuar con la información diligenciada ?')">Registrar Caso</button>

    </form>

  </div>
  
</ion-content>
