<ion-content [fullscreen]="true">

  <div class="contenido">

    <h3>Agendar</h3>

    <div>
      <p>Seleccionar caso (*):</p>
      <select id="idCaso">
        <option value="">- Seleccionar -</option>
        <ng-container *ngFor="let caso of casos">
          <option *ngIf="caso.estado != 'registrado'" value='{{caso.id}}'>{{caso.id}}</option>
        </ng-container>
      </select>
    </div>

    <div>
      <p>Seleccionar fecha de reunión a solicitar (*):</p>
      <input type="datetime-local" step="2" id="fechaAgendar" />
    </div>

    <p>
      <button (click)="agendar()">Agendar</button>
    </p>

    <p id="mensaje"></p>

  </div>

</ion-content> 
