<ion-content [fullscreen]="true">

  <div class="contenido">

    <h3>Perfil</h3>

    <!------------------------------------------------------------------------------->
    <!--  CLIENTE -->
    <!------------------------------------------------------------------------------->

    <div *ngIf="perfil == 'cliente'">

      <div id="clienteCampo1">
        <p>Nombres (*):</p>
        <input type="text" />
      </div>

      <div id="clienteCampo2">
        <p>Apellidos (*):</p>
        <input type="text" />
      </div>

      <div id="clienteCampo3">
        <p>Tipo de Identificación (*):</p>
        <select>
          <option>- Seleccionar -</option>
          <option value="CC">CC</option>
          <option value="CE">CE</option>
          <option value="Pasaporte">Pasaporte</option>
        </select>
      </div>

      <div id="clienteCampo4">
        <p>Identificación (*):</p>
        <input type="text" />
      </div>

      <div id="clienteCampo5">
        <p>Correo electrónico(*):</p>
        <input type="email" />
      </div>

      <div id="clienteCampo6">
        <p>Usuario:</p>
        <input type="text" disabled/>
      </div>

      <div id="clienteCampo7">
        <p>Contraseña:</p>
        <input type="password" />
      </div>

      <div id="clienteCampo8">
        <p>Teléfono de contacto (*):</p>
        <input type="text" />
      </div>

      <p>
        <button (click)="actualizarCliente()">Actualizar</button>
      </p>

    </div>

    <!------------------------------------------------------------------------------->
    <!--  ABOGADO -->
    <!------------------------------------------------------------------------------->

    <div *ngIf="perfil == 'abogado'">

      <div id="clienteCampo1">
        <p>Nombres (*):</p>
        <input type="text" />
      </div>

      <div id="clienteCampo2">
        <p>Apellidos (*):</p>
        <input type="text" />
      </div>

      <div id="clienteCampo3">
        <p>Tipo de Identificación (*):</p>
        <select>
          <option>- Seleccionar -</option>
          <option value="CC">CC</option>
          <option value="CE">CE</option>
          <option value="Pasaporte">Pasaporte</option>
        </select>
      </div>

      <div id="clienteCampo4">
        <p>Identificación (*):</p>
        <input type="text" />
      </div>

      <div id="clienteCampo5">
        <p>Correo electrónico(*):</p>
        <input type="email" />
      </div>

      <div id="clienteCampo6">
        <p>Usuario:</p>
        <input type="text" disabled/>
      </div>

      <div id="clienteCampo7">
        <p>Contraseña:</p>
        <input type="password" />
      </div>

      <div id="clienteCampo8">
        <p>Teléfono de contacto (*):</p>
        <input type="text" />
      </div>

      <div id="clienteCampo9">
        <p>Genero (*):</p>
        <select>
          <option>- Seleccionar -</option>
          <option value="Femenino">Femenino</option>
          <option value="Masculino">Masculino</option>
        </select>
      </div>

      <div id="clienteCampo10">
        <p>Dirección (*):</p>
        <input type="text" />
      </div>

      <div id="clienteCampo11">
        <p>¿ Es usted abogado con ? (*):</p>
        <select>
          <option>- Seleccionar -</option>
          <option value="Licencia temporal">Licencia temporal</option>
          <option value="Masculino">Masculino</option>
        </select>
      </div>

      <div id="clienteCampo12">
        <p>Universidad de egreso en Derecho:</p>
        <input type="text" />
      </div>

      <div id="clienteCampo13">
        <p>Número de tarjeta o licencia (*):</p>
        <input type="number" />
      </div>

      <div id="clienteCampo14">
        <p>¿ Cuenta con experiencia laboral en el ejercicio del Derecho ? (*):</p>
        <select (change)="experienciaLaboral()">
          <option>- Seleccionar -</option>
          <option value="Si">Si</option>
          <option value="No">No</option>
        </select>
      </div>

      <div id="clienteCampo15">
        <p>¿ Cuantos años ?</p>
        <input type="number" disabled />
      </div>

      <div id="clienteCampo16">
        <p>¿ Cuenta con alguna investigación disciplinaria por parte del Consejo Superior de la Judicatura ? (*):</p>
        <select>
          <option>- Seleccionar -</option>
          <option value="Si">Si</option>
          <option value="No">No</option>
        </select>
      </div>

      <div id="clienteCampo17">
        <p>¿ Cuál de las siguientes opciones se ajusta a sus gustos en las ramas del derecho o en cual le gustaría desempeñar laboralmente ? (*):</p>
        <select (change)="otraRama()">
          <option>- Seleccionar -</option>
          <option value="Administrativo">Administrativo</option>
          <option value="Ambiental">Ambiental</option>
          <option value="Civil">Civil</option>
          <option value="Comercial">Comercial</option>
          <option value="Derechos humanos">Derechos humanos</option>
          <option value="Digital">Digital</option>
          <option value="Familia">Familia</option>
          <option value="Laboral">Laboral</option>
          <option value="Otro">Otro</option>
          <option value="Penal">Penal</option>
          <option value="Tributario">Tributario</option>
        </select>
      </div>

      <div id="clienteCampo18">
        <p>¿ Cuál ?:</p>
        <input type="text" disabled />
      </div>

      <div id="clienteCampo19">
        <p>¿ Cuanto es el promedio que cobra usted por una asesoría juridica (Solo asesoría) ? (*):</p>
        <input type="text" />
      </div>

      <p>
        <button (click)="actualizarAbogado()">Actualizar</button>
      </p>

    </div>

  </div>

</ion-content>
