<ion-content [fullscreen]="true">

  <div class="contenido">

    <h3>Abogados</h3>

    <div class="marginBottom1">
      <p>Seleccionar caso (*):</p>
      <select id="idCaso">
        <option value="">- Seleccionar -</option>
        <ng-container *ngFor="let caso of casos">
          <option *ngIf="caso.estado != 'registrado'" value='{{caso.id}}'>{{caso.id}}</option>
        </ng-container>
      </select>
    </div>

    <p id="mensaje" class="marginBottom1"></p>

    <table id="abogados" width="100%">

      <thead>

        <tr>

          <th>Nombres</th>
          <th>Genero</th>
          <th>Abogado con</th>
          <th>Experiencia</th>
          <th>Costo de la consulta</th>
          <th>Acciones</th>

        </tr>

      </thead>

      <tbody>

        <ng-container *ngFor="let abogado of abogados">

          <tr>

            <td>{{abogado.nombres}} {{abogado.apellidos}}</td>
            <td>{{abogado.genero}}</td>
            <td>{{abogado.abogado_con}}</td>
            <td>{{abogado.experiencia}}</td>
            <td>${{abogado.costo_consulta}}</td>
            <td>
              <button (click)="aplicarAbogado(abogado.usuario)">Aplicar</button>
            </td>

          </tr>

        </ng-container>

      </tbody>

    </table>

  </div>

</ion-content> 
