<div class="row row2">

    <div class="logo2">
        <!--<img src="/assets/images/logo_2.png" />-->
    </div>

</div>

<div>

    <div class="center color1 titleMain">MENU PRINCIPAL</div>

    <div class="row row3">

        <div class="col-sm-12 col-md-4 col31">

            <div class="submain">
                <img class="registraTuCaso" src="/assets/images/registra_tu_caso.png" />
            </div>

        </div>

        <div class="col-sm-12 col-md-4 col32">

            <div class="submain">
                <img (click)="location('consultar-abogados')" class="consultarAbogados" src="/assets/images/consultar_abogados.png" />
            </div>

        </div>

        <div class="col-sm-12 col-md-4 col33">

            <div class="submain">
                <img class="agendaCita" src="/assets/images/agenda_tu_cita.png" />
            </div>
            
        </div>

    </div>

</div>

<div class="row row4">

    <div class="col-sm-12 col-md-6 col41">

        <div class="row">

            <div class="col-md-7"></div>

            <div class="col-md-5 center">

                <div><img class="logotipoAbogline" src="/assets/images/logotipo_abogline.png" /></div>
                
                <div>
                    <p class="descargaNuestraApp">DESCARGA<br/>NUESTRA APP</p>
                </div>

                <div><img class="googlePlay cursor" src="/assets/images/google_play.png" /></div>
                <div><img class="appStore cursor" src="/assets/images/app_store.png" /></div>

            </div>

        </div>

    </div>

    <div class="col-sm-12 col-md-6 col42">

        <p class="mantenteAlDia">MANTÉNTE AL DÍA CON <br/>NUESTRAS NOTICIAS</p>

        <div class="center facebookWidget">
            
            <div class="row">

                <div class="col facebook">

                    <iframe class="socialFacebook" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fabogline&tabs=timeline&width=300&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1138553669656498" width="300" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>

                </div>

                <div class="col twitter">

                    <a class="twitter-timeline" data-width="300" data-height="400" data-theme="dark" href="https://twitter.com/abogline?ref_src=twsrc%5Etfw">Tweets by abogline</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                </div>

            </div>
        

        </div>

    </div>

</div>

<div class="row row5">

    <div class="col-sm-12 col-md-4 col51">

        <p class="title2"> MANTENGAMOS EL CONTÁCTO</p>

        <div class="row">
            <div class="col-md-10 paadingR0">
                <input type="text" placeholder="Email" class="input1" />
            </div>
            <div class="col-md-2">
                <img src="/assets/images/btn_enviar.png" class="btnEnviar cursor"/>
            </div>
        </div>

        <p class="p1">
            Suscribete y sé el primero en recibir ofertas, información de servicios y más acerca<br/>
            de <span>ABOGLINE</span>. Para obtener más información visita nuestro <a>Aviso de  privacidad</a>
        </p>

        <p class="title2 servicioCliente">SERVICIO AL CLIENTE</p>

        <p class="title3">Preguntas Frecuentes</p>
        <p class="title3">PQRS</p>
        <p class="title3">Correo directo</p>

    </div>

    <div class="col-sm-12 col-md-4 col52">

        <p class="title2 center">SÍGUENOS</p>

        <div class="row redes">

            <div class="col center paddingEmpty"><img class="siguenosIcon cursor" src="/assets/images/facebook.png" /></div>
            <div class="col center paddingEmpty"><img class="siguenosIcon cursor" src="/assets/images/twitter.png" /></div>
            <div class="col center paddingEmpty"><img class="siguenosIcon cursor" src="/assets/images/instagram.png" /></div>
            <div class="col center paddingEmpty"><img class="siguenosIcon cursor" src="/assets/images/linked.png" /></div>
            <div class="col center paddingEmpty"><img class="siguenosIcon cursor" src="/assets/images/whastapp.png" /></div>

        </div>

        <div class="center">
            <img class="icon247" src="/assets/images/24_7.png" />
        </div>

    </div>

    <div class="col-sm-12 col-md-4 col53"></div>

</div>

<p class="copyright">
    <span>2021 © INFOABOGADOS S.A.S - ABOGLINE; Todos los derechos reservados.</span>
    <span class="copyright2">Elaborado por: <b>Edwin Aldana</b> en colaboración de <b>Camilo Avellaneda</b></span>
</p>