<div>
    
  <div class="row header">

    <div class="col-8 titleHeader" *ngIf="perfil == 'abogado'">{{trataCaso}}: {{cualProblema}}</div>

    <div class="col-12 titleHeader2" *ngIf="perfil == 'cliente'">{{trataCaso}}: {{cualProblema}}</div>

    
    <div class="col-4 textR" *ngIf="perfil == 'abogado' && estadoCaso == '4'">
      <img src="/assets/images/btn_crear_actividad.png" class="btnCrearActividad" (click)="crearActividad();" />
    </div>

  </div>

  <div class="content">

    <div class="row carouselPadre">

      <!--  CARROUSEL -->

      <carousel [cellsToShow]="6" [cellsToScroll]="1" *ngIf="mostrarActividades==true">

        <ng-container *ngFor="let item of actividades">

          <div class="carousel-cell background background3" *ngIf="item.tipo == '1'">
        
            <p class="titleProceso">PAGO ASESORÍA</p>
            <p class="proceso">{{pagoAsesoria}} $ {{consulta}}</p>
            <button *ngIf="perfil == 'cliente' && item.estado != '2'" class="btnProceso" (click)="pagoAsesoriaAction(item.id,consulta,item.tipo)">PAGAR ></button>
            <p class="date">{{item.date_format}}</p>
    
          </div>

          <div class="carousel-cell background coreAsesoria" *ngIf="item.tipo == '2'">
        
            <p class="titleProceso">ASESORÍA</p>
            <p class="proceso">{{asesoriaDesc}}</p>
            <button *ngIf="perfil == 'cliente' && item.estado == '1'" class="btnProceso" (click)="reunion('Asesoria')">SOLICITAR ></button>
            <p class="date">{{item.date_format}}</p>
    
          </div>

          <div class="carousel-cell background coreContinuidad" *ngIf="item.tipo == '3'">

            <p class="titleProceso">DESICIÓN DE CONTINUIDAD</p>
            <p class="proceso">{{desicionContinuidad}}</p>
            <button *ngIf="perfil == 'cliente' && item.estado == '1'" class="btnProceso" (click)="continuidad()">SOLICITAR ></button>
            <p class="date">{{item.date_format}}</p>
  
          </div>

          <div class="carousel-cell background coreCita" *ngIf="item.tipo == '4'">
            <p class="titleProceso">GENERAR CITA</p>
            <p class="proceso">{{asesoriaDesc}}</p>
            <button *ngIf="item.estado == '1'" class="btnProceso" (click)="reunion('Asesoría términos de contratación')">SOLICITAR ></button>
            <p class="date">{{item.date_format}}</p>
          </div>
          
          <div class="carousel-cell background coreContratacion" *ngIf="item.tipo == '5'">
            <p class="titleProceso">CONTRATACIÓN</p>
            <p class="proceso">{{contratacion}}</p>
            <button *ngIf="item.estado == '1' && contratoRealizado == '1' && perfil == 'abogado'" class="btnProceso" (click)="actividadContratacion()">PROCEDER ></button>
            <button *ngIf="item.estado == '1' && contratoRealizado == '3' && perfil == 'cliente'" class="btnProceso" (click)="actividadContratacion()">PROCEDER ></button>
            <p class="date">{{item.date_format}}</p>
          </div>

          <div class="carousel-cell background coreFinalizar" *ngIf="item.tipo == '6'">
            <p class="titleProceso">FINALIZAR CONTRATO</p>
            <p class="proceso">{{finalizarContrato}}</p>
            <button *ngIf="perfil == 'cliente'" class="btnProceso" (click)="solicitar()">FINALIZAR ></button>
            <p class="date">{{item.date_format}}</p>
          </div>
  
          <div class="carousel-cell background coreReunionVirtual" *ngIf="item.tipo == '8'">
            <p class="titleProceso">REUNIÓN VIRTUAL</p>
            <p class="proceso">{{asesoriaDesc}}</p>
            <button *ngIf="perfil == 'cliente'" class="btnProceso" (click)="reunion('Reunion virtual')">SOLICITAR ></button>
            <p class="date">{{item.date_format}}</p>
          </div>
  
          <div class="carousel-cell background coreDocumentacion"  *ngIf="item.tipo == '9'">
            <p class="titleProceso">DOCUMENTACIÓN</p>
            <p class="proceso">{{documentacion}}</p>
            <button *ngIf="perfil == 'abogado' && solicitudDocumentosEstado == 0" class="btnProceso" (click)="documentacionAbogado()">SOLICITAR ></button>
            <button *ngIf="perfil == 'cliente' && solicitudDocumentosEstado == 2" class="btnProceso" (click)="documentacionCliente()">CARGAR ></button>
            <button *ngIf="perfil == 'abogado' && solicitudDocumentosEstado == 3" class="btnProceso" (click)="visualizarDocumentos()">VISUALIZAR ></button>
            <p class="date">{{item.date_format}}</p>
          </div>

          <div class="carousel-cell background coreReunionPresencial" *ngIf="item.tipo == '10'">
            <p class="titleProceso">REUNIÓN PRESENCIAL</p>
            <p class="proceso">{{reunionPresencial}}</p>
            <button *ngIf="perfil == 'cliente'" class="btnProceso" (click)="reunion('Reunion presencial')">SOLICITAR ></button>
            <p class="date">{{item.date_format}}</p>
          </div>

          <div class="carousel-cell background coreInformacion" *ngIf="item.tipo == '11'">
            <p class="titleProceso">INFORMACIÓN</p>
            <p class="proceso">{{informacion}}</p>
            <button *ngIf="perfil == 'cliente'" class="btnProceso" (click)="solicitar()">PROCEDER ></button>
            <p class="date">{{item.date_format}}</p>
          </div>

        </ng-container>

      </carousel>
      
      <!--

      <div class="col-2 background corePagos" *ngIf="paso8_pagos == 'proceso'">
        <p class="titleProceso">PAGOS</p>
        <p class="proceso">{{pagos}}</p>
        <button *ngIf="perfil == 'cliente'" class="btnProceso" (click)="solicitar()">PAGAR ></button>
        <p class="date">SEPT 13/2021</p>
      </div>      

      -->

    </div>

    <!--  CHAT  -->

    <div class="row subcontent2" *ngIf="validarChat == '1'">

      <div class="col-3 alertas">

        <div class="row marginL0">

          <div class="col-6 alertasTitle">ALERTAS</div>

          <div class="col-6 points"></div>

        </div>

        <!--<p class="alertasDescription">Lorem impsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut lareet.</p>-->

      </div>

      <div class="col-9">

        <div class="chat">

          <div class="online">ONLINE</div>

          <ng-container *ngFor="let item of chat">

            <div class="row mensaje" *ngIf="item.usuario == abogadoCaso">

              <div class="col-4" ></div>
  
              <div class="col-6 globoAbogado">
                {{item.mensaje}}
              </div>
  
              <div class="col-2">
                <img class="chatImage" [attr.src]="rutaBackend+'photo/'+item.usuario+'.jpg'" />
              </div>
  
            </div>

            <div class="row mensaje" *ngIf="item.usuario == usuarioCaso">

              <div class="col-2" *ngIf="item.usuario == usuarioCaso">
                <img class="chatImage" [attr.src]="rutaBackend+'photo/'+item.usuario+'.jpg'" />
              </div>
  
              <div class="col-6 globoUsuario" *ngIf="item.usuario == usuarioCaso">
                {{item.mensaje}}
              </div>
  
              <div class="col-4" *ngIf="item.usuario == usuarioCaso"></div>
  
            </div>

          </ng-container>

        </div>

        <div class="chatFooter">
          <input type="text" placeholder="Escribe tu mensaje" id="chatMensaje" />
          <img src="/assets/images/icon_flecha_next.png" class="enviar" (click)="enviarChat()"/>
        </div>

      </div>

    </div>

  </div>

</div>

<!--  MODAL ELIGEME -->

<ng-template #modalGeneral let-modal id="modal1">

  <div class="modal-body">

    <div class="logo">
      <img src="/assets/images/logo_redondo.png" />
    </div>

    <div class="center modalContent">

      <div class="modalTipo1">

        <div class='titleModal1 color1'>DESICIÓN DE CONTINUIDAD</div>

        <div class="row modalTipo1Btns">

          <div class="col-6">
            <img src="/assets/images/btn_si.png" (click)="continuidadSi()" />
          </div>

          <div class="col-6">
            <img src="/assets/images/btn_no.png" (click)="continuidadNo1()" />
          </div>

        </div>

        <div class="row modalTipo1Desicion">

          <div class="col-6 modalTipo1Si">
            SI
          </div>

          <div class="col-6 modalTipo1No">
            NO
          </div>

        </div>

      </div>

      <div class="modalTipo2">

        <div class='titleModal1 color1'>¿POR QUÉ NO QUIERES CONTINUAR?</div>

        <div class="row desiciones">

          <div class="col-2">

            <img *ngIf="desicionSelect1 == '1'" src="/assets/images/btn_si.png" (click)="porQueNoContinuar('1','1')" />
            <img *ngIf="desicionSelect1 == '0'" src="/assets/images/btn_si_gris.png" (click)="porQueNoContinuar('1','1')" />

          </div>

          <div class="col-2 btnNoDesicion">
            <img *ngIf="desicionSelect1 == '0'" src="/assets/images/btn_no.png" (click)="porQueNoContinuar('1','0')" />
            <img *ngIf="desicionSelect1 == '1'" src="/assets/images/btn_no_gris.png" (click)="porQueNoContinuar('1','0')" />
          </div>

          <div class="col-8 desicionText">
            El Abogado no me convenció
          </div>

        </div>

        <div class="row desiciones">

          <div class="col-2">
            <img *ngIf="desicionSelect2 == '1'" src="/assets/images/btn_si.png" (click)="porQueNoContinuar('2','1')" />
            <img *ngIf="desicionSelect2 == '0'" src="/assets/images/btn_si_gris.png" (click)="porQueNoContinuar('2','1')" />
          </div>

          <div class="col-2 btnNoDesicion">

            <img *ngIf="desicionSelect2 == '0'" src="/assets/images/btn_no.png" (click)="porQueNoContinuar('2','0')" />
            <img *ngIf="desicionSelect2 == '1'" src="/assets/images/btn_no_gris.png" (click)="porQueNoContinuar('2','0')" />

          </div>

          <div class="col-8 desicionText">
            Sólo buscaba asesoría
          </div>

        </div>

        <div class="row desiciones">

          <div class="col-2">

            <img *ngIf="desicionSelect3 == '1'" src="/assets/images/btn_si.png" (click)="porQueNoContinuar('3','1')" />
            <img *ngIf="desicionSelect3 == '0'" src="/assets/images/btn_si_gris.png" (click)="porQueNoContinuar('3','1')" />
          </div>

          <div class="col-2 btnNoDesicion">

            <img *ngIf="desicionSelect3 == '0'" src="/assets/images/btn_no.png" (click)="porQueNoContinuar('3','0')" />
            <img *ngIf="desicionSelect3 == '1'" src="/assets/images/btn_no_gris.png" (click)="porQueNoContinuar('3','0')" />

          </div>

          <div class="col-8 desicionText">
            Quiero buscar otro Abogado
          </div>

        </div>

        <div class="row desiciones">

          <div class="col-2">

            <img *ngIf="desicionSelect4 == '1'" src="/assets/images/btn_si_gris.png" (click)="porQueNoContinuar('4','1')" />
            <img *ngIf="desicionSelect4 == '0'" src="/assets/images/btn_si_gris.png" (click)="porQueNoContinuar('4','1')" />

          </div>

          <div class="col-2 btnNoDesicion">

            <img *ngIf="desicionSelect4 == '0'" src="/assets/images/btn_no.png" (click)="porQueNoContinuar('4','0')" />
            <img *ngIf="desicionSelect4 == '1'" src="/assets/images/btn_no_gris.png" (click)="porQueNoContinuar('4','0')" />

          </div>

          <div class="col-8 desicionText">
            No quiero continuar mi proceso
          </div>

        </div>

      </div>

      <div class="modalTipo3">

        <div class='titleModal1 color1'>QUEREMOS SABER QUÉ SUCEDIÓ</div>
        <div class='titleModal1 color1'>¡déjanos tu comentario!</div>

        <div class="tiposOpinion">

          <div>-El abogado no me convenció-</div>
          <div>-quiero buscar otro Abogado-</div>

        </div>

        <div class="dejarComentario">Deja tu comentario:</div>

        <textarea class="comentario"></textarea>

      </div>

      <div class="modalTipo4">

        <div class='titleModal1 color1'>{{titleReunion}}</div>
        <div class='titleModal2 color1'>Escoge una Fecha</div>

        <p class="dateDesde">

          <img src="/assets/images/calendario_gris.png" />
          <input type="datetime-local" id="dateDesde" />

        </p>

        <p class="dateHasta">

          <img src="/assets/images/calendario_azul.png" />
          <input type="datetime-local" id="dateHasta" />

        </p>

      </div>

      <div class="modalTipo5">

        <div class='titleModal1 color1'>ESCOGE LA ACTIVIDAD A CREAR</div>

        <div class="actividades">
        
          <div class="row">

            <div class="col-md-4">
              <img src="/assets/images/actividad_finalizar.png" (click)="crearActividadAccion('paso7_finalizar_contrato','1','Finalizar contrato')">
            </div>

            <div class="col-md-4">
              <img src="/assets/images/actividad_pagos.png" (click)="crearActividadAccion('paso8_pagos','1', 'Pagos')">
            </div>

            <div class="col-md-4">
              <img src="/assets/images/actividad_reunion_virtual.png" (click)="crearActividadAccion('paso9_reunion_virtual','0', 'Reunion virtual')">
            </div>

          </div>

          <div class="row marginTop4">

            <div class="col-md-4">
              <img src="/assets/images/actividad_documentacion.png" (click)="crearActividadAccion('paso10_documentacion','0', 'Documentacion')">
            </div>

            <div class="col-md-4">
              <img src="/assets/images/actividad_presencial.png" (click)="crearActividadAccion('paso11_reunion_presencial','0','Reunion presencial')">
            </div>

            <div class="col-md-4">
              <img src="/assets/images/actividad_informacion.png" (click)="crearActividadAccion('paso12_informacion','0','Informacion')">
            </div>

          </div>

        </div>

      </div>

      <div class="modalTipo6">

        <div class='titleModal1 color1'>CONTRATACIÓN</div>

        <div class="contratacion">

          <p>Apreciado {{perfil}}, por favor verifica que los datos que se muestran a continuación, esten correctos:</p>

          <form class="contratacion">

            <div class="row">

              <div class="col-md-6">
                <span>Nombres</span>
                <input type="text" disabled class="contratacionDisabled" id="contratacionNombres">
              </div>

              <div class="col-md-6">
                <span>Apellidos</span>
                <input type="text" disabled class="contratacionDisabled" id="contratacionApellidos">
              </div>

            </div>

            <div class="row">

              <div class="col-md-6">
                <span>Número de identificación</span>
                <input type="text" disabled class="contratacionDisabled" id="contratacionIdentificacion">
              </div>

              <div class="col-md-6">
                <span>Lugar de Expedición</span><br/>
                <select id="contratacionLugar">
                  <ng-container *ngFor="let item of ciudades">
                    <option value="{{item.ciudad}}">{{item.ciudad}}</option>
                  </ng-container>
                </select>
              </div>

            </div>

            <div class="row" *ngIf="perfil == 'abogado'">

              <div class="col-md-6">
                <span>Tipo de T.P.</span>
                <input type="text" disabled class="contratacionDisabled" id="contratacionTp">
              </div>

              <div class="col-md-6">
                <span>No. Tarjeta</span>
                <input type="text" disabled class="contratacionDisabled" id="contratacionTarjeta">
              </div>

            </div>

            <div><span>Dirección de Notificaciones</span></div>
            <div>
              <input type="text" id="contratacionDireccion">
            </div>

            <button (click)="diligenciarContrato('0')">ACEPTAR</button>

          </form>

        </div>

      </div>

      <div class="modalTipo7">

        <div class='titleModal1 color1'>OBJETO DEL CONTRATO</div>

        <div class="contratacion">

          <form class="contratacion">

            <p class="contratacionTitle">Partes del contrato</p>

            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p>

            <p>

              <b>CLIENTE:</b><br><br>

              <input type="text" placeholder="Cliente digita nombre completo" id="contratoNombreCliente" [attr.value]="contratoCaso.contrato_nombre_cliente" disabled /><br>
              <input type="text" placeholder="Cliente digita identificación" id="contratoIdentificacionCliente" [attr.value]="contratoCaso.contrato_identificacion_cliente" disabled /><br>
              <input type="text" placeholder="CLiente digita lugar de expedición del documento" id="contratoLugarCliente" [attr.value]="contratoCaso.contrato_lugar_cliente" disabled /><br>
              <input type="text" placeholder="Cliente digita dirección" id="contratoDireccionCliente" [attr.value]="contratoCaso.contrato_direccion_cliente"disabled /><br><br>

              <b>ABOGADO:</b><br><br>

              <input type="text" id="contratoNombreAbogado" [attr.value]="contratoCaso.contrato_nombre_abogado" disabled /><br>
              <input type="text" id="contratoIdentificacionAbogado" [attr.value]="contratoCaso.contrato_identificacion_abogado" disabled /><br>
              <input type="text" id="contratoLugarAbogado" [attr.value]="contratoCaso.contrato_lugar_abogado" disabled /><br>
              <input type="text" id="contratoDireccionAbogado" [attr.value]="contratoCaso.contrato_direccion_abogado" disabled /><br>
              <input type="text" id="contratoLicenciaAbogado" [attr.value]="contratoCaso.contrato_licencia_abogado" disabled /><br>

            </p>

            <p class="contratacionTitle">Objeto del contrato</p>

            <textarea id="objetoContrato" class="objetoContrato">{{contratoCaso.objeto_contrato}}</textarea>

            <p class="contratacionTitle">Precio</p>

            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p>

            $

            <input type="number" placeholder="Diligenciar precio" id="contratoPrecio" [attr.value]="contratoCaso.contrato_precio" />

            &nbsp;COP

            <p class="contratacionTitle">Formas de pago</p>

            <select id="contratoMetodoPago" (change)="metodoPago()">
              <option value=""></option>
              <option>Cuota litis</option>
              <option>Honorarios</option>
              <option>Mixto</option>
            </select>

            <br><br>

            <select id="contratoMetodoPago2">
              <option>A plazos fijos mensuales</option>
              <option>A plazos días fijos</option>
              <option>Un solo pago fijo</option>
            </select>

            <br><br>

            <div class="contratoPorcentaje">
              Porcentaje <input id="contratoPorcentaje" type="number" min="0" max="30" [attr.value]="contratoCaso.contrato_porcentaje" /> %
            </div>

            <br><br>

            <p class="contratacionTitle">Cláusula adicional</p>

            <div *ngIf="perfil == 'cliente'" id="clausulaAdicional"></div>

            <div id="editor"></div>

            <p><b>Observaciones de Abogline</b></p>

            <p class="fRed">{{contratoCaso.observacion}}</p>

            <button (click)="visualizarContrato()">ACEPTAR</button>
            <button class="guardarBorrador" (click)="guardarBorrador('1')">GUARDAR BORRADOR</button>

          </form>

        </div>

      </div>

      <div class="modalTipo8">

        <div class='titleModal1 color1'>OBJETO DEL CONTRATO</div>

        <div class="contratacion">

          <p>Apreciado {{perfil}}, por favor verifica que el contrato este correcto, de ser el caso puedes corregirlo antes de enviarlo</p>

          <div class="center">
            
            <pdf-viewer [src]="pdfView"
                        [render-text]="true"
                        [original-size]="false"
                        style="width: 100%; height: 300px"
                        [external-link-target]="'blank'"
                        [autoresize]="true"
            ></pdf-viewer>

          </div>

          <button (click)="enviarContrato()">ENVIAR</button>
          <button class="guardarBorrador" (click)="diligenciarContrato('1')">CORREGIR</button>

        </div>

      </div>

      <div class="modalTipo9">

        <div class='titleModal1 color1'>SOLICITAR DOCUMENTOS</div>

        <div class="contratacion">

          <p>Apreciado abogado, por favor indicar los documentos que el cliente debe cargar. </p>

          <div class="center">
            
            <p>

              <input type="number" id="cantidadDocumentos" class="cantidadDocumentos" placeholder="- Cuantos documentos -" (change)="cantidadDocumentos()" />
    
            </p>

            <p *ngFor="let item of [].constructor(cantidadDocumentosSolicitar); let i = index">

              <input type="text" class="cantidadDocumentos" [attr.id]="'documento'+i" [attr.placeholder]="'Descripción del documento #'+(i+1)"/>

            </p>

            <textarea id="motivoDocumentos" class="motivoDocumentos" placeholder="Motivo por la cual se solicita documentos"></textarea>

          </div>

          <div class="footer">
            <button (click)="solicitarDocumentos()">SOLICITAR DOCUMENTOS</button>
          </div>

        </div>

      </div>

      <div class="modalTipo10">

        <div class='titleModal1 color1'>CARGAR DOCUMENTOS</div>

        <div class="contratacion">

          <p>Apreciado usuario, por favor cargar los documentos que el abogado esta solicitando. </p>

          <div class="center">
            
            <div *ngFor="let item of solicitudDocumentosData;let i = index;">

              <p><b>{{item.descripcion}}</b></p>
              <input type="file" [attr.id]="'documento'+i" [attr.class]="'documento'+item.id" />

            </div>

          </div>

          <div class="footer">
            <button class="cargarDocumentos" (click)="cargarDocumentos()">CARGAR DOCUMENTOS</button>
          </div>

        </div>

      </div>

      <div class="modalTipo11">

        <div class='titleModal1 color1'>VISUALIZAR DOCUMENTOS</div>

        <div class="contratacion">

          <p>Apreciado abogado, a continuación se visualizan los documentos solicitados al cliente. </p>

          <div class="center">
            
            <div *ngFor="let item of solicitudDocumentosData;let i = index;">

              <p>
                <button class="verDocumento" (click)="abrirDocumento(item.documento)"><b>{{item.descripcion}}</b></button>
              </p>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

  <div>

    <img src="/assets/images/btn_aceptar.png" class="btnAceptar" (click)="asesoriaAceptar()" />
    <img src="/assets/images/btn_continuar.png" class="btnContinuar btnContinuarDesicion" (click)="modalTipo3()" />
    <img src="/assets/images/btn_continuar.png" class="btnContinuar btnContinuarDesicion2" (click)="desicionContinuidadAccion()" />

  </div>
  
</ng-template>