<ion-content [fullscreen]="true">

  <div id="container">

    <form>

      <div class="informacion success alert-primary" role="alert">
        {{this.msg}}
      </div>
  
      <div class="informacion warning alert-warning" role="alert">
        {{this.msg}}
      </div>
  
      <div class="informacion error alert-danger" role="alert">
        {{this.msg}}
      </div>

      <label>
        <p class="label-txt">Usuario (*):</p>
        <input type="text" class="input" id="user">
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
      <label>
        <p class="label-txt">Correo Electrónico (*):</p>
        <input type="text" class="input" id="email">
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
      <label>
        <p class="label-txt">Contraseña (*):</p>
        <input type="password" class="input" id="password">
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
      <label>
        <p class="label-txt">Confirmar Contraseña (*):</p>
        <input type="password" class="input" id="passwordConfirm">
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
      <label>
        <p class="label-txt">Perfil (*):</p>
        <select class="input" id="perfil">
          <option value="abogado">Abogado</option>
          <option value="cliente">Cliente</option>
        </select>
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
      <label>
        <input type="checkbox" class="input" id="termsCliente"> &nbsp;
        Acepta los términos y condiciones(*):
      </label>
      <button (click)="modalConfirmar('Registrar usuario','¿ Esta seguro de continuar con la información diligenciada ?')">Registrarse</button>
    </form>

  </div>
  
</ion-content>
