<div class="contenedor">

  <div class="header">

    <div class="row">

      <div class="col-7 tRight abogados">ABOGADOS</div>
  
      <div class="col-5 tCenter seleccionarCaso">
  
        <select>
          <option>- Seleccionar Caso -</option>
        </select>
  
      </div>
  
    </div>
  
    <div class="menuRapido">
      MENÚ RÁPIDO
    </div>

    <div class="row filtros">

      <div class="col-3 filtro">

        <select>
          <option>- Estrellas -</option>
        </select>

      </div>

      <div class="col-3 filtro">

        <select>
          <option>- Precio -</option>
        </select>

      </div>

      <div class="col-3 filtro">

        <select>
          <option>- Especialidad -</option>
        </select>

      </div>

      <div class="col-3 filtro">

        <select>
          <option>- Tiempo de Experiencia -</option>
        </select>

      </div>

    </div>

  </div>

  <div class="tRight mostrar">

    <span>Mostrar</span>
    
    <select>
      <option>8</option>
    </select>

  </div>

  <div class="row listaAbogados">

    <div class="col-3">

      <div class="abogado">

        <p class="consulta">200.000</p>

        <div class="tCenter fotoAbogado">
          <img src="/assets/images/perfil_example.jpg" />
        </div>

        <div class="row tCenter estrella">

          <div class="col-2 estrellaCol"><img src="/assets/images/estrella_blanca.png" /></div>
          <div class="col-2 estrellaCol"><img src="/assets/images/estrella_blanca.png" /></div>
          <div class="col-2 estrellaCol"><img src="/assets/images/estrella_blanca.png" /></div>
          <div class="col-2 estrellaCol"><img src="/assets/images/estrella_blanca.png" /></div>
          <div class="col-2 estrellaCol"><img src="/assets/images/estrella_gris.png" /></div>

        </div>

        <div class="tCenter abogadoName">PEDRO</div>

        <div class="tCenter abogadoCargo">Abogado Civilistica</div>

        <div class="tCenter perfilDescripcion">Perfil incompleto ...</div>

        <div class="tRight verMas">... ver más</div>

      </div>

      <div class="eligeme">ELÍGEME</div>

    </div>

    <div class="col-3">

      <div class="abogado">

        <p class="consulta">200.000</p>

        <div class="tCenter fotoAbogado">
          <img src="/assets/images/perfil_example.jpg" />
        </div>

        <div class="row tCenter estrella">

          <div class="col-2 estrellaCol"><img src="/assets/images/estrella_blanca.png" /></div>
          <div class="col-2 estrellaCol"><img src="/assets/images/estrella_blanca.png" /></div>
          <div class="col-2 estrellaCol"><img src="/assets/images/estrella_blanca.png" /></div>
          <div class="col-2 estrellaCol"><img src="/assets/images/estrella_blanca.png" /></div>
          <div class="col-2 estrellaCol"><img src="/assets/images/estrella_gris.png" /></div>

        </div>

        <div class="tCenter abogadoName">PEDRO</div>

        <div class="tCenter abogadoCargo">Abogado Civilistica</div>

        <div class="tCenter perfilDescripcion">Perfil incompleto ...</div>

        <div class="tRight verMas">... ver más</div>

      </div>

      <div class="eligeme">ELÍGEME</div>

    </div>

    <div class="col-3">

      <div class="abogado">

        <p class="consulta">200.000</p>

        <div class="tCenter fotoAbogado">
          <img src="/assets/images/perfil_example.jpg" />
        </div>

        <div class="row tCenter estrella">

          <div class="col-2 estrellaCol"><img src="/assets/images/estrella_blanca.png" /></div>
          <div class="col-2 estrellaCol"><img src="/assets/images/estrella_blanca.png" /></div>
          <div class="col-2 estrellaCol"><img src="/assets/images/estrella_blanca.png" /></div>
          <div class="col-2 estrellaCol"><img src="/assets/images/estrella_blanca.png" /></div>
          <div class="col-2 estrellaCol"><img src="/assets/images/estrella_gris.png" /></div>

        </div>

        <div class="tCenter abogadoName">PEDRO</div>

        <div class="tCenter abogadoCargo">Abogado Civilistica</div>

        <div class="tCenter perfilDescripcion">Perfil incompleto ...</div>

        <div class="tRight verMas">... ver más</div>

      </div>

      <div class="eligeme">ELÍGEME</div>

    </div>

    <div class="col-3">

      <div class="abogado">

        <p class="consulta">200.000</p>

        <div class="tCenter fotoAbogado">
          <img src="/assets/images/perfil_example.jpg" />
        </div>

        <div class="row tCenter estrella">

          <div class="col-2 estrellaCol"><img src="/assets/images/estrella_blanca.png" /></div>
          <div class="col-2 estrellaCol"><img src="/assets/images/estrella_blanca.png" /></div>
          <div class="col-2 estrellaCol"><img src="/assets/images/estrella_blanca.png" /></div>
          <div class="col-2 estrellaCol"><img src="/assets/images/estrella_blanca.png" /></div>
          <div class="col-2 estrellaCol"><img src="/assets/images/estrella_gris.png" /></div>

        </div>

        <div class="tCenter abogadoName">PEDRO</div>

        <div class="tCenter abogadoCargo">Abogado Civilistica</div>

        <div class="tCenter perfilDescripcion">Perfil incompleto ...</div>

        <div class="tRight verMas">... ver más</div>

      </div>

      <div class="eligeme">ELÍGEME</div>

    </div>

    <div class="row footer">

      <div class="col-5 tLeft">Mostrando <b>4 de 4 Entradas</b></div>
  
      <div class="col-2 tCenter">
  
        <div class="row">
  
          <div class="col-3"><img src="/assets/images/circulo_claro.png" /></div>
          <div class="col-3"><img src="/assets/images/circulo_claro.png" /></div>
          <div class="col-3"><img src="/assets/images/circulo_claro.png" /></div>
          <div class="col-3"><img src="/assets/images/circulo_claro.png" /></div>
  
        </div>
  
      </div>
  
      <div class="col-5">

        <button class="buttonFooter siguiente">SIGUIENTE</button>
        <button class="buttonFooter anterior">ANTERIOR</button>

      </div>
  
    </div>

  </div>

</div>
