<div class="contenedor">

  <div class="header">

    <div class="row">

      <div class="col-7 tRight abogados">ABOGADOS</div>
  
      <div class="col-5 tCenter seleccionarCaso">
  
        <select *ngIf="usuario" id="seleccionarCaso">
          <option>- Seleccionar Caso -</option>
          <ng-container *ngFor="let item of casos">
            <option value="{{item.id}}">{{item.id}}</option>
          </ng-container>
        </select>
  
      </div>
  
    </div>
  
    <div class="menuRapido">
      MENÚ RÁPIDO
    </div>

    <div class="row filtros">

      <div *ngIf="!usuario" class="col-4 filtro">
      <div *ngIf="usuario" class="col-3 filtro"></div>

        <select>
          <option>- Estrellas -</option>
        </select>

      </div>

      <div *ngIf="!usuario" class="col-4 filtro">
      <div *ngIf="usuario" class="col-3 filtro"></div>

        <select>
          <option>- Precio -</option>
        </select>

      </div>

      <div *ngIf="!usuario" class="col-4 filtro">
      <div *ngIf="usuario" class="col-3 filtro"></div>

        <select>
          <option>- Especialidad -</option>
        </select>

      </div>

      <div class="col-3 filtro">

        <select *ngIf="usuario">
          <option>- Tiempo de Experiencia -</option>
        </select>

      </div>

    </div>

  </div>

  <div class="tRight mostrar">

    <span>Mostrar</span>
    
    <select>
      <option>8</option>
    </select>

  </div>

  <div class="row listaAbogados">

    <div class="abogadoItem">

      <div class="abogado">

        <p class="consulta">200.000</p>

        <div class="tCenter fotoAbogado">
          <img *ngIf="usuario" src="/assets/images/perfil_example.jpg" />
          <img *ngIf="!usuario" src="/assets/images/abogado.png" />
        </div>

        <div class="row tCenter estrella">

          <div class="col-2 estrellaCol"><img src="/assets/images/estrella_blanca.png" /></div>
          <div class="col-2 estrellaCol"><img src="/assets/images/estrella_blanca.png" /></div>
          <div class="col-2 estrellaCol"><img src="/assets/images/estrella_blanca.png" /></div>
          <div class="col-2 estrellaCol"><img src="/assets/images/estrella_blanca.png" /></div>
          <div class="col-2 estrellaCol"><img src="/assets/images/estrella_gris.png" /></div>

        </div>

        <div *ngIf="usuario" class="tCenter abogadoName">PEDRO</div>
        <br *ngIf="!usuario" />

        <div class="tCenter abogadoCargo">Abogado Civilistica</div>

        <div class="tCenter perfilDescripcion">Perfil incompleto ...</div>

        <div class="tRight verMas">... ver más</div>

      </div>

      <div class="eligeme" (click)="eligeme()">ELÍGEME</div>

    </div>

    <div class="row footer">

      <div class="col-5 tLeft">Mostrando <b>4 de 4 Entradas</b></div>
  
      <div class="col-2 tCenter">
  
        <div class="row">
  
          <div class="col-3"><img src="/assets/images/circulo_claro.png" /></div>
  
        </div>
  
      </div>
  
      <div class="col-5">

        <button class="buttonFooter siguiente">SIGUIENTE</button>
        <button class="buttonFooter anterior">ANTERIOR</button>

      </div>
  
    </div>

  </div>

</div>


<ngx-spinner></ngx-spinner>